<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.SysUserDepartMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, dep_id
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.userId, jdbcType=VARCHAR},
            #{item.depId, jdbcType=VARCHAR}
        </trim>
    </sql>


    <insert id="insertList" parameterType="list">
        insert into sys_user_depart
        (
        <include refid="Base_Column_List"/>
        )
        <foreach collection="list" item="item" index="index" separator="union all">
            (
            select
            <include refid="insertValueItems"/>
            from dual
            )
        </foreach>
    </insert>

    <delete id="deleteListByUserIdAndDepartId">
        <if test="list != null and list.size > 0">
            <foreach collection="list" item="item" open="begin" close=";end;" separator=";">
                delete from sys_user_depart
                where user_id = #{item.userId, jdbcType=VARCHAR}
                and dep_id = #{item.depId, jdbcType=VARCHAR}
            </foreach>
        </if>
    </delete>

    <select id="getUserDepartByUid" parameterType="String" resultType="org.jeecg.modules.system.entity.SysUserDepart">
        SELECT *
        FROM sys_user_depart
        WHERE user_id = #{userId, jdbcType=VARCHAR}
    </select>

    <select id="selectUserNameListByDepartIdList" resultType="java.lang.String">
        select username
        from sys_user
        where id in
        (
        select user_id
        from sys_user_depart
        where dep_id in
        <foreach collection="departIdList" item="departId" separator="," open="(" close=")">
            #{departId}
        </foreach>
        )
    </select>

</mapper>