<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.report.daily.mapper.BuRptDayReportFaultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.report.daily.bean.BuRptDayReportFault">
        <id column="id" property="id" />
        <result column="report_id" property="reportId" />
        <result column="fault_time" property="faultTime" />
        <result column="report_user" property="reportUser" />
        <result column="fault_desc" property="faultDesc" />
        <result column="is_handle" property="isHandle" />
        <result column="duty_engineer" property="dutyEngineer" />
        <result column="handle_desc" property="handleDesc" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, report_id, fault_time, report_user, fault_desc, is_handle, duty_engineer, handle_desc, remark
    </sql>

</mapper>
