<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.material.cost.mapper.BuWorkOrderMaterialActsMaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.material.cost.bean.BuWorkOrderMaterialActs">
        <id column="id" property="id"/>
        <result column="order_material_id" property="orderMaterialId"/>
        <result column="group_stock_id" property="groupStockId"/>
        <result column="apply_id" property="applyId"/>
        <result column="apply_detail_id" property="applyDetailId"/>
        <result column="assign_detail_id" property="assignDetailId"/>
        <result column="trade_no" property="tradeNo"/>
        <result column="act_amount" property="actAmount"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="price" property="price"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_material_id, group_stock_id, apply_id, apply_detail_id, assign_detail_id, trade_no, act_amount,
        create_time, create_by, update_time, update_by, price
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id},
            #{item.orderMaterialId},
            #{item.groupStockId},
            #{item.applyId},
            #{item.applyDetailId},
            #{item.assignDetailId},
            #{item.tradeNo},
            #{item.actAmount},
            #{item.createTime},
            #{item.createBy},
            #{item.updateTime},
            #{item.updateBy},
            #{item.price},
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        <if test="list != null and list.size > 0">
            INSERT INTO bu_work_order_material_acts
            (
            <include refid="Base_Column_List"/>
            )
            VALUES
            <foreach collection="list" item="item" index="index" separator=",">
                (
                <include refid="insertValueItems"/>
                )
            </foreach>
        </if>
    </insert>

    <update id="updateListAmount">
        <foreach collection="list" item="item" open="begin" close=";end;" separator=";">
            update bu_work_order_material_acts
            set act_amount = #{item.actAmount}
            where id = #{item.id}
        </foreach>
    </update>

    <delete id="deleteByOrderMaterialId">
        delete
        from bu_work_order_material_acts
        where order_material_id = #{orderMaterialId}
    </delete>

    <select id="selectListForGroupStockCount" resultType="org.jeecg.modules.material.cost.bean.BuWorkOrderMaterialActs">
        select t.*
        from bu_work_order_material_acts t
        left join bu_work_order_material t1 on t1.id = t.order_material_id
        left join bu_work_order t2 on t2.id = t1.order_id
        where t2.order_type not in (4, 5)
        and t2.group_id = #{groupId}
        and t1.material_type_id = #{materialTypeId}
        and t2.order_status in
        <foreach collection="orderStatusList" item="orderStatus" open="(" separator="," close=")">
            #{orderStatus}
        </foreach>
    </select>

    <select id="selectListByOrderMaterialIdList"
            resultType="org.jeecg.modules.material.cost.bean.BuWorkOrderMaterialActs">
        select t.*,
        t1.train_no as groupStockTrainNo
        from bu_work_order_material_acts t
        left join bu_material_group_stock t1 on t1.id = t.group_stock_id
        where t.order_material_id in
        <foreach collection="orderMaterialIdList" item="orderMaterialId" open="(" separator="," close=")">
            #{orderMaterialId}
        </foreach>
    </select>

</mapper>
