<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.dispatch.workorder.mapper.BuWorkOrderTaskWorkstationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTaskWorkstation">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="order_task_id" property="orderTaskId"/>
        <result column="workstation_id" property="workstationId"/>
        <result column="remarks" property="remarks"/>
        <result column="work_time" property="workTime"/>
    </resultMap>

    <resultMap id="BaseResultMap_With_RefFormIdList"
               type="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTaskWorkstation">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="order_task_id" property="orderTaskId"/>
        <result column="workstation_id" property="workstationId"/>
        <result column="remarks" property="remarks"/>
        <result column="work_time" property="workTime"/>
        <collection property="refFormIdList" column="workstation_id"
                    ofType="java.lang.String"
                    select="selectWorkstationRefFormIdList"/>
    </resultMap>
    <select id="selectWorkstationRefFormIdList" resultType="java.lang.String">
        select form_id
        from bu_base_ref_station_form
        where workstation_id = #{workstation_id}
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, order_task_id, workstation_id, remarks, work_time
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.orderId, jdbcType=VARCHAR},
            #{item.orderTaskId, jdbcType=VARCHAR},
            #{item.workstationId, jdbcType=VARCHAR},
            #{item.remarks, jdbcType=VARCHAR},
            #{item.workTime, jdbcType=INTEGER}
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO bu_work_order_task_workstation
        (
        <include refid="Base_Column_List"/>
        )
        <foreach collection="list" item="item" index="index" separator="union all">
            (
            select
            <include refid="insertValueItems"/>
            from dual
            )
        </foreach>
    </insert>

    <select id="selectListAndRefFormListByOrderIdList" resultMap="BaseResultMap_With_RefFormIdList">
        select t.*
        from bu_work_order_task_workstation t
        where t.order_id
        <choose>
            <when test="orderIdList != null and orderIdList.size >0">
                in
                <foreach collection="orderIdList" item="orderId" index="index" open="(" separator="," close=")">
                    #{orderId}
                </foreach>
            </when>
            <otherwise>
                = '-1'
            </otherwise>
        </choose>
    </select>

</mapper>
