<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.dispatch.workorder.mapper.BuWorkOrderToolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTool">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="order_task_id" property="orderTaskId"/>
        <result column="work_record_inst_id" property="workRecordInstId"/>
        <result column="tool_type_id" property="toolTypeId"/>
        <result column="tool_id" property="toolId"/>
        <result column="measure" property="measure"/>
        <result column="amount" property="amount"/>
        <result column="lack" property="lack"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, order_task_id, work_record_inst_id, tool_type_id, tool_id, measure, amount, lack
    </sql>

    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.orderId, jdbcType=VARCHAR},
            #{item.orderTaskId, jdbcType=VARCHAR},
            #{item.workRecordInstId, jdbcType=VARCHAR},
            #{item.toolTypeId, jdbcType=VARCHAR},
            #{item.toolId, jdbcType=VARCHAR},
            #{item.measure, jdbcType=INTEGER},
            #{item.amount, jdbcType=INTEGER},
            #{item.lack, jdbcType=INTEGER}
        </trim>
    </sql>

    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO bu_work_order_tool
        (
        <include refid="Base_Column_List"/>
        )
        <foreach collection="list" item="item" index="index" separator="union all">
            (
            select
            <include refid="insertValueItems"/>
            from dual
            )
        </foreach>
    </insert>

    <select id="selectWorkOrderTool" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTool">
        select t.*,
               t1.name,
               t1.kind,
               t1.code,
               t3.serial_no,
               t3.asset_code,
               t1.unit,
               t1.price,
               t1.price * t.amount AS sumPrice,
               t1.category1,
               t1.category2,
               t5.title            as workRecordInstName
        from bu_work_order_tool t
                 left join bu_material_type t1 on t1.id = t.tool_type_id
                 left join bu_material_tools t3 on t3.id = t.tool_id
                 left join bu_pl_work_record t4 on t4.id = t.work_record_inst_id
                 left join bu_work_record t5 on t5.id = t4.form_obj_id
        where t.order_task_id = #{workOrderTaskId}
    </select>

</mapper>
