<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.dispatch.workorder.mapper.BuWorkOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrder">
        <id column="id" property="id"/>
        <result column="order_code" property="orderCode"/>
        <result column="order_name" property="orderName"/>
        <result column="order_type" property="orderType"/>
        <result column="generate" property="generate"/>
        <result column="plan_id" property="planId"/>
        <result column="start_time" property="startTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="duration" property="duration"/>
        <result column="group_id" property="groupId"/>
        <result column="monitor" property="monitor"/>
        <result column="workshop_id" property="workshopId"/>
        <result column="line_id" property="lineId"/>
        <result column="train_no" property="trainNo"/>
        <result column="act_start" property="actStart"/>
        <result column="act_finish" property="actFinish"/>
        <result column="order_status" property="orderStatus"/>
        <result column="work_status" property="workStatus"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="issuing_time" property="issuingTime"/>
        <result column="fd_project" property="fdProject"/>
        <result column="fd_task" property="fdTask"/>
        <result column="fd_cost_type" property="fdCostType"/>
        <result column="from_type" property="fromType"/>
        <result column="maximo_work_order_id" property="maximoWorkOrderId"/>
        <result column="company_id" property="companyId"/>
    </resultMap>

    <resultMap id="ResultMap_BuWorkOrder_WithTask" type="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrder">
        <id column="id" property="id"/>
        <result column="order_code" property="orderCode"/>
        <result column="order_name" property="orderName"/>
        <result column="order_type" property="orderType"/>
        <result column="generate" property="generate"/>
        <result column="plan_id" property="planId"/>
        <result column="start_time" property="startTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="duration" property="duration"/>
        <result column="group_id" property="groupId"/>
        <result column="monitor" property="monitor"/>
        <result column="workshop_id" property="workshopId"/>
        <result column="line_id" property="lineId"/>
        <result column="train_no" property="trainNo"/>
        <result column="act_start" property="actStart"/>
        <result column="act_finish" property="actFinish"/>
        <result column="order_status" property="orderStatus"/>
        <result column="work_status" property="workStatus"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="issuing_time" property="issuingTime"/>
        <result column="fd_project" property="fdProject"/>
        <result column="fd_task" property="fdTask"/>
        <result column="fd_cost_type" property="fdCostType"/>
        <result column="from_type" property="fromType"/>
        <result column="maximo_work_order_id" property="maximoWorkOrderId"/>
        <result column="company_id" property="companyId"/>
        <collection property="tasks" column="id"
                    ofType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTask"
                    select="selectTaskList"/>
    </resultMap>

    <select id="selectTaskList" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTask">
        select t.*
        from bu_work_order_task t
        where t.order_id = #{id}
        order by t.task_no
    </select>

    <resultMap id="ResultMap_WorkOrderRelevanceInfo"
               type="org.jeecg.modules.dispatch.workorder.bean.WorkOrderRelevanceInfo">
        <id column="id" property="id"/>
        <result column="order_code" property="orderCode"/>
        <result column="order_name" property="orderName"/>
        <result column="order_type" property="orderType"/>
        <result column="generate" property="generate"/>
        <result column="plan_id" property="planId"/>
        <result column="start_time" property="startTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="duration" property="duration"/>
        <result column="group_id" property="groupId"/>
        <result column="monitor" property="monitor"/>
        <result column="workshop_id" property="workshopId"/>
        <result column="line_id" property="lineId"/>
        <result column="train_no" property="trainNo"/>
        <result column="act_start" property="actStart"/>
        <result column="act_finish" property="actFinish"/>
        <result column="order_status" property="orderStatus"/>
        <result column="work_status" property="workStatus"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="issuing_time" property="issuingTime"/>
        <result column="fd_project" property="fdProject"/>
        <result column="fd_task" property="fdTask"/>
        <result column="fd_cost_type" property="fdCostType"/>
        <result column="from_type" property="fromType"/>
        <result column="plan_name" property="planName"/>
        <result column="repair_program_id" property="repairProgramId"/>
        <collection property="tasks" column="id"
                    ofType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTask"
                    select="selectOrderTasks"/>
        <collection property="materials" column="id"
                    ofType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderMaterial"
                    select="selectOrderMaterials"/>
        <collection property="tools" column="id"
                    ofType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTool"
                    select="selectOrderTools"/>
        <collection property="workstations" column="id"
                    ofType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTaskWorkstation"
                    select="selectOrderWorkstations"/>
        <collection property="forms" column="id"
                    ofType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTaskFormInst"
                    select="selectOrderForms"/>
        <collection property="techFiles" column="id"
                    ofType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTechFile"
                    select="selectOrderTechFiles"/>
        <collection property="bookSteps" column="id"
                    ofType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderBookStep"
                    select="selectOrderBookSteps"/>
        <collection property="annexList" column="id"
                    ofType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderAnnex"
                    select="selectOrderAnnexList"/>
        <collection property="equipments" column="id"
                    ofType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTaskEqu"
                    select="selectOrderEquipments"/>
    </resultMap>
    <select id="selectOrderTasks" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTask">
        select t.*,
               t1.name        as assetTypeName,
               t2.name        as trainAssetName,
               case
                   when t.task_type = 1 and
                        EXISTS(select id from bu_repair_task_book_step where task_id = t.task_obj_id) then
                       1
                   else 0 end as isBookSteps
        from bu_work_order_task t
                 left join bu_train_asset_type t1 on t1.id = t.asset_type_id
                 left join bu_maximo_train_asset t2 on t2.id = t.train_asset_id
        where t.order_id = #{id}
        order by t.task_no
    </select>
    <select id="selectOrderMaterials" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderMaterial">
        select t.*,
               t1.name,
               t1.kind,
               t1.code,
               t1.unit,
               t1.price,
               t1.price * t.amount         AS sumPrice,
               t1.category2,
               t1.spec,
               NVL(t2.short_name, t2.name) as systemName,
               t3.station_no               as workstationNo,
               t3.name                     as workstationName
        from bu_work_order_material t
                 left join bu_material_type t1 on t1.id = t.material_type_id
                 left join bu_train_asset_type t2 on t2.id = t.system_id
                 left join bu_mtr_workstation t3 on t3.id = t.workstation_id
        where t.order_id = #{id}
        order by t.op_type, t.use_category, t1.code
    </select>
    <select id="selectOrderTools" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTool">
        select t.*,
               t1.name,
               t1.kind,
               t1.code,
               t3.serial_no,
               t3.asset_code,
               t1.unit,
               t1.price,
               t1.price * t.amount AS sumPrice,
               t1.category1,
               t1.category2
        from bu_work_order_tool t
                 left join bu_material_type t1 on t1.id = t.tool_type_id
                 left join bu_material_tools t3 on t3.id = t.tool_id
        where t.order_id = #{id}
    </select>
    <select id="selectOrderWorkstations"
            resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTaskWorkstation">
        select t.*,
               t1.station_no as workstationNo,
               t1.name       as workstationName
        from bu_work_order_task_workstation t
                 left join bu_mtr_workstation t1 on t1.id = t.workstation_id
        where t.order_id = #{id}
    </select>
    <select id="selectOrderForms" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTaskFormInst">
        select temp.id,
               temp.inst_type,
               temp.form_inst_id,
               temp.plan_id,
               temp.work_order_id,
               temp.work_order_task_id,
               temp.record_ids,
               temp.remark,
               t5.task_name,
               temp.planFormId,
               temp.fromBy,
               temp.formObjId,
               temp.code                   as formCode,
               temp.name                   as formName,
               temp.assetTypeId,
               t2.name                     as assetTypeName,
               temp.trainStructId,
               t7.name                     as trainStructName,
               t3.wbs                      as trainStructWbs,
               temp.trainAssetId,
               t4.asset_name               as trainAssetName,
               t4.asset_no                 as assetNo,
               temp.status,
               temp.checkResult,
               temp.checkDate,
               temp.checkUserId,
               t6.realname                 as checkUserName,
               NVL(temp.workRecordType, 0) as workRecordType,
               temp.reguName,
               temp.reguVersion
        from (
                 (
                     select t.*,
                            a.plan_form_id        as planFormId,
                            a2.code               as code,
                            NVL(a.title, a2.name) as name,
                            a1.from_by            as fromBy,
                            a1.form_type          as formType,
                            a.form_obj_id         as formObjId,
                            a.train_no            as trainNo,
                            a.asset_type_id       as assetTypeId,
                            a1.train_struct_id    as trainStructId,
                            a.train_asset_id      as trainAssetId,
                            a.status,
                            a.check_result        as checkResult,
                            a.check_date          as checkDate,
                            a.check_user_id       as checkUserId,
                            0                     as workRecordType,
                            a3.name               as reguName,
                            a3.version            as reguVersion
                     from bu_work_order_task_form_inst t
                              left join bu_pl_data_record a on a.id = t.form_inst_id
                              left join bu_repair_plan_forms a1 on a1.id = a.plan_form_id
                              left join bu_base_form_template a2 on a2.id = a.form_obj_id
                              left join bu_repair_regu_info a3 on a3.id = a2.regu_id
                     where t.work_order_id = #{id}
                       and t.inst_type = 1
                 )
                 UNION ALL
                 (
                     select t.*,
                            a.plan_form_id                                                                    as planFormId,
                            case a.work_record_type when 1 then a2.code when 2 then a3.code else '' end       as code,
                            NVL(a.title,
                                case a.work_record_type when 1 then a2.title when 2 then a3.name else '' end) as name,
                            a1.from_by                                                                        as fromBy,
                            a1.form_type                                                                      as formType,
                            a.form_obj_id                                                                     as formObjId,
                            a.train_no                                                                        as trainNo,
                            a.asset_type_id                                                                   as assetTypeId,
                            a1.train_struct_id                                                                as trainStructId,
                            a.train_asset_id                                                                  as trainAssetId,
                            a.status,
                            a.check_result                                                                    as checkResult,
                            a.check_date                                                                      as checkDate,
                            a.check_user_id                                                                   as checkUserId,
                            a.work_record_type                                                                as workRecordType,
                            a4.name                                                                           as reguName,
                            a4.version                                                                        as reguVersion
                     from bu_work_order_task_form_inst t
                              left join bu_pl_work_record a on a.id = t.form_inst_id
                              left join bu_repair_plan_forms a1 on a1.id = a.plan_form_id
                              left join bu_work_record a2 on a2.id = a.form_obj_id
                              left join bu_base_form_template a3 on a3.id = a.form_obj_id
                              left join bu_repair_regu_info a4 on a4.id = a3.regu_id
                     where t.work_order_id = #{id}
                       and t.inst_type = 3
                 )
                 UNION ALL
                 (
                     select t.*,
                            a.plan_form_id         as planFormId,
                            a2.code                as code,
                            NVL(a.title, a2.title) as name,
                            a1.from_by             as fromBy,
                            a1.form_type           as formType,
                            a.form_obj_id          as formObjId,
                            a.train_no             as trainNo,
                            a.asset_type_id        as assetTypeId,
                            a1.train_struct_id     as trainStructId,
                            a.asset_id             as trainAssetId,
                            a.status,
                            NULL                   as checkResult,
                            NULL                   as checkDate,
                            NULL                   as checkUserId,
                            0                      as workRecordType,
                            ''                     as reguName,
                            ''                     as reguVersion
                     from bu_work_order_task_form_inst t
                              left join bu_pl_check_record a on a.id = t.form_inst_id
                              left join bu_repair_plan_forms a1 on a1.id = a.plan_form_id
                              left join bu_work_check a2 on a2.id = a.form_obj_id
                     where t.work_order_id = #{id}
                       and t.inst_type = 4
                 )
             ) temp
                 left join bu_train_asset_type t2 on t2.id = temp.assetTypeId
                 left join bu_train_asset t4 on t4.id = temp.trainAssetId
                 left join bu_train_structure_detail t3 on t3.id = t4.struct_detail_id
                 left join bu_work_order_task t5 on t5.id = temp.work_order_task_id
                 left join sys_user t6 on t6.id = temp.checkUserId
                 left join bu_maximo_train_asset t7 on t7.id = temp.trainStructId
        order by temp.formType, temp.formObjId, t4.asset_no, temp.code
    </select>
    <select id="selectOrderTechFiles" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTechFile">
        select t.*,
               t1.name      as fileName,
               t1.savepath  as savePath,
               t1.type      as fileType,
               t1.file_size as fileSize
        from bu_work_order_tech_file t
                 left join bu_doc_file t1 on t1.id = t.file_id
        where t.order_id = #{id}
    </select>
    <!-- t1.step_content as bootStepContent,-->
    <select id="selectOrderBookSteps" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderBookStep">
        select temp.*,
               t2.file_name as bookName
        from (
                 (
                     select t.id,
                            t.work_order_id,
                            t.task_id,
                            t.tech_book_id,
                            t.book_detail_id,
                            t.book_step_no,
                            t.boot_step_title,
                            1 as belongOrderTask
                     from bu_work_order_book_step t
                     where t.work_order_id = #{id}
                 )
                 union all
                 (
                     select t.id,
                            t0.order_id as work_order_id,
                            t0.id       as task_id,
                            t.tech_book_id,
                            t.book_detail_id,
                            t.book_step_no,
                            t.boot_step_title,
                            0           as belongOrderTask
                     from bu_repair_task_book_step t
                              left join bu_work_order_task t0 on t0.task_obj_id = t.task_id
                     where t0.task_type = 1
                       and t0.order_id = #{id}
                 )
                 union all
                 (
                     select t.id,
                            t0.order_id as work_order_id,
                            t0.id       as task_id,
                            t.tech_book_id,
                            t.book_detail_id,
                            t.book_step_no,
                            t.boot_step_title,
                            0           as belongOrderTask
                     from bu_repair_regu_techbook_detail t
                              left join bu_work_order_task t0 on t0.task_obj_id = t.regu_detail_id
                     where t0.task_type = 4
                       and t0.order_id = #{id}
                 )
             ) temp
                 left join bu_repair_tech_book_detail t1 on t1.id = temp.book_detail_id
                 left join bu_repair_tech_book t2 on t2.id = t1.book_id
        order by t2.file_no, temp.book_step_no
    </select>
    <select id="staffArranges" resultType="org.jeecg.modules.dispatch.workorder.bean.BuRepairTaskStaffArrange">
        SELECT t.*,
               t2.order_task_id,
               t2.workstation_id,
               t1.realname  AS userName,
               t2.work_time AS planWorkTime
        FROM bu_repair_task_staff_arrange t
                 LEFT JOIN sys_user t1 ON t1.id = t.user_id
                 LEFT JOIN bu_work_order_task_workstation t2 ON t2.id = t.ord_tsk_wk_station_id
        WHERE t.order_id = #{id}
    </select>
    <select id="selectOrderAnnexList" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderAnnex">
        select t.*
        from bu_work_order_annex t
        where t.work_order_id = #{id}
    </select>
    <select id="selectOrderEquipments" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderTaskEqu">
        select t.*,
               t1.name          as assetTypeName,
               t2.name          as structDetailName,
               t3.name          as trainAssetName,
               t1.code          as assetTypeCode,
               t2.code          as structDetailCode,
               t3.code          as trainAssetNo,
               t3.location_code as locationCode
        from bu_work_order_task_equ t
                 left join bu_train_asset_type t1 on t1.id = t.asset_type_id
                 left join bu_train_structure_detail t2 on t2.id = t.struct_detail_id
                 left join bu_maximo_train_asset t3 on t3.id = t.train_asset_id
        where t.order_id = #{id}
        order by t1.code, t2.code, t3.code
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_code, order_name, order_type, generate, plan_id, start_time, finish_time,
        duration, group_id, monitor, workshop_id, line_id, train_no, act_start, act_finish,
        order_status, work_status, remark, create_time, create_by, update_time, update_by,
        issuing_time, fd_project, fd_task, fd_cost_type, from_type, maximo_work_order_id,
        company_id
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.orderCode, jdbcType=VARCHAR},
            #{item.orderName, jdbcType=VARCHAR},
            #{item.orderType, jdbcType=INTEGER},
            #{item.generate, jdbcType=INTEGER},
            #{item.planId, jdbcType=VARCHAR},
            #{item.startTime, jdbcType=DATE},
            #{item.finishTime, jdbcType=DATE},
            #{item.duration, jdbcType=INTEGER},
            #{item.groupId, jdbcType=VARCHAR},
            #{item.monitor, jdbcType=VARCHAR},
            #{item.workshopId, jdbcType=VARCHAR},
            #{item.lineId, jdbcType=VARCHAR},
            #{item.trainNo, jdbcType=VARCHAR},
            #{item.actStart, jdbcType=TIMESTAMP},
            #{item.actFinish, jdbcType=TIMESTAMP},
            #{item.orderStatus, jdbcType=INTEGER},
            #{item.workStatus, jdbcType=INTEGER},
            #{item.remark, jdbcType=VARCHAR},
            #{item.createTime, jdbcType=TIMESTAMP},
            #{item.createBy, jdbcType=VARCHAR},
            #{item.updateTime, jdbcType=TIMESTAMP},
            #{item.updateBy, jdbcType=VARCHAR},
            #{item.issuingTime, jdbcType=DATE},
            #{item.fdProject, jdbcType=VARCHAR},
            #{item.fdTask, jdbcType=VARCHAR},
            #{item.fdCostType, jdbcType=VARCHAR},
            #{item.fromType, jdbcType=INTEGER},
            #{item.maximoWorkOrderId, jdbcType=NUMERIC},
            #{item.companyId, jdbcType=VARCHAR},
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO bu_work_order
        (
        <include refid="Base_Column_List"/>
        )
        <foreach collection="list" item="item" index="index" separator="union all">
            (
            select
            <include refid="insertValueItems"/>
            from dual
            )
        </foreach>
    </insert>

    <update id="updateSuspend">
        <choose>
            <when test="isSuspend">
                update bu_work_order
                set
                order_status = 5,
                suspend_status = #{state, jdbcType=INTEGER},
                suspend_time = #{date, jdbcType=TIMESTAMP}
                where id = #{orderId, jdbcType=VARCHAR}
            </when>
            <otherwise>
                update bu_work_order
                set
                order_status = #{state, jdbcType=INTEGER},
                suspend_status = null,
                active_time = #{date, jdbcType=TIMESTAMP}
                where id = #{orderId, jdbcType=VARCHAR}
            </otherwise>
        </choose>
    </update>

    <update id="updateUnIssuing">
        update bu_work_order
        set issuing_time = null,
            order_status = 0
        where id = #{orderId}
    </update>

    <select id="selectMaxTaskNo" resultType="integer">
        select Max(task_no) as taskNo
        from bu_work_order_task
        where order_id = #{id}
        order by task_no
    </select>

    <select id="selectPageByCondition" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrder">
        select
        t.*,
        t1.group_name as groupName,
        t2.line_name as lineName,
        NVL(t3.process_status, '未发起') AS wfStatus,
        NVL(t5.attr_key, '-1') AS wfAttrKey,
        t3.process_candidate,
        t4.plan_name as planName,
        NVL2(t.ACT_FINISH, (case when t.ACT_FINISH > t.FINISH_TIME and t.WORK_STATUS!=2 and order_status != 0 then 1
        else 0 end)
        , (case when sysdate > t.FINISH_TIME and t.WORK_STATUS!=2 and order_status != 0 then 1 else 0 end)) as overdue
        from bu_work_order t
        left join bu_mtr_workshop_group t1 on t1.id = t.group_id
        left join bu_mtr_line t2 on t2.line_id = t.line_id
        left join wf_biz_status t3 on t3.business_key = t.id
        left join bu_repair_plan t4 on t4.id = t.plan_id
        left join wf_cus_attribute t5 on t5.attr_scope=t3.cur_node_code
        <where>
            <if test="queryVO.id != null and queryVO.id != ''">
                and t.id = #{queryVO.id}
            </if>
            <if test="queryVO.status != null and queryVO.status.size > 0">
                and t.order_status in
                <foreach collection="queryVO.status" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryVO.workGroupId != null and queryVO.workGroupId != ''">
                and t.group_id = #{queryVO.workGroupId}
            </if>
            <if test="queryVO.startDate != null and queryVO.endDate == null ">
                and to_char(t.start_time,'yyyy-mm-dd') = to_char(#{queryVO.startDate},'yyyy-mm-dd')
            </if>
            <if test="queryVO.startDate != null and queryVO.endDate != null ">
                and
                (
                (t.start_time between #{queryVO.startDate} and #{queryVO.endDate})
                or
                (t.finish_time between #{queryVO.startDate} and #{queryVO.endDate})
                )
            </if>
            <if test="queryVO.searchText != null and queryVO.searchText != ''">
                and
                (
                t.order_code like '%'||#{queryVO.searchText}||'%'
                or
                t.order_name like '%'||#{queryVO.searchText}||'%'
                )
            </if>
            <if test="queryVO.orderType != null">
                and t.order_type = #{queryVO.orderType}
            </if>
            <if test="queryVO.trainNo != null and queryVO.trainNo != ''">
                and t.train_no = #{queryVO.trainNo}
            </if>
            <if test="queryVO.planId !=null and queryVO.planId != ''">
                and t.plan_id = #{queryVO.planId}
            </if>
            <if test="queryVO.overdue != null">
                <choose>
                    <when test="queryVO.overdue == 1">
                        and ( t.ACT_FINISH > t.FINISH_TIME or sysdate > t.FINISH_TIME)
                        and to_char(sysdate,'yyy-mm-dd') != to_char(t.FINISH_TIME,'yyy-mm-dd')
                        and t.WORK_STATUS != 2
                        and t.order_status != 0
                    </when>
                    <otherwise>
                        and ( t.ACT_FINISH &lt;= t.FINISH_TIME or sysdate &lt;= t.FINISH_TIME )
                    </otherwise>
                </choose>
            </if>
            <if test="queryVO.isForMonitorScreenControl != null and queryVO.isForMonitorScreenControl == 1">
                <if test="queryVO.planIdList != null and queryVO.planIdList.size > 0">
                    and t.plan_id in
                    <foreach collection="queryVO.planIdList" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
        </where>
        order by t.start_time desc
    </select>

    <select id="selectPageByConditionForGroup" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrder">
        select
        t.*,
        t1.group_name as groupName,
        t2.line_name as lineName,
        NVL(t3.process_status, '未发起') AS wfStatus,
        NVL(t5.attr_key, '-1') AS wfAttrKey,
        t3.process_candidate,
        t4.plan_name as planName,
        NVL2(t.ACT_FINISH, (case when t.ACT_FINISH > t.FINISH_TIME and t.WORK_STATUS!=2 and order_status != 0 then 1
        else 0 end)
        , (case when sysdate > t.FINISH_TIME and t.WORK_STATUS!=2 and order_status != 0 then 1 else 0 end)) as overdue
        from bu_work_order t
        left join bu_mtr_workshop_group t1 on t1.id = t.group_id
        left join bu_mtr_line t2 on t2.line_id = t.line_id
        left join wf_biz_status t3 on t3.business_key = t.id
        left join bu_repair_plan t4 on t4.id = t.plan_id
        left join wf_cus_attribute t5 on t5.attr_scope=t3.cur_node_code
        <where>
            <if test="queryVO.id != null and queryVO.id != ''">
                and t.id = #{queryVO.id}
            </if>
            <!-- 工班自己创建的都显示，包括状态为0的 -->
            <choose>
                <when test="queryVO.status != null and queryVO.status.size > 0">
                    and t.order_status in
                    <foreach collection="queryVO.status" item="item" index="index"
                             open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    and (t.order_status > 0 or (t.order_status = 0 and from_type=3 ))
                </otherwise>
            </choose>
            <if test="queryVO.workGroupId != null and queryVO.workGroupId != ''">
                and t.group_id = #{queryVO.workGroupId}
            </if>
            <if test="queryVO.startDate != null and queryVO.endDate == null ">
                and to_char(t.start_time,'yyyy-mm-dd') = to_char(#{queryVO.startDate},'yyyy-mm-dd')
            </if>
            <if test="queryVO.startDate != null and queryVO.endDate != null ">
                and
                (
                (t.start_time between #{queryVO.startDate} and #{queryVO.endDate})
                or
                (t.finish_time between #{queryVO.startDate} and #{queryVO.endDate})
                )
            </if>
            <if test="queryVO.searchText != null and queryVO.searchText != ''">
                and
                (
                t.order_code like '%'||#{queryVO.searchText}||'%'
                or
                t.order_name like '%'||#{queryVO.searchText}||'%'
                )
            </if>
            <choose>
                <when test="queryVO.isWrite">
                    <choose>
                        <when test="queryVO.orderType != null">
                            and t.order_type = #{queryVO.orderType}
                        </when>
                        <otherwise>
                            and t.order_type not in (4, 5)
                        </otherwise>
                    </choose>
                </when>
                <otherwise>
                    <if test="queryVO.orderType != null">
                        and t.order_type = #{queryVO.orderType}
                    </if>
                </otherwise>
            </choose>
            <if test="queryVO.trainNo!= null and queryVO.trainNo != ''">
                and t.train_no = #{queryVO.trainNo}
            </if>
            <if test="queryVO.planId!=null and queryVO.planId!=''">
                and t.plan_id=#{queryVO.planId}
            </if>
            <if test="queryVO.overdue!=null">
                <choose>
                    <when test="queryVO.overdue==1">
                        and ( t.ACT_FINISH > t.FINISH_TIME or sysdate > t.FINISH_TIME)
                        and to_char(sysdate,'yyy-mm-dd')!=to_char(t.FINISH_TIME,'yyy-mm-dd')
                        and t.WORK_STATUS!=2 and t.order_status != 0
                    </when>
                    <otherwise>
                        and ( t.ACT_FINISH &lt;= t.FINISH_TIME or sysdate &lt;= t.FINISH_TIME )
                    </otherwise>
                </choose>
            </if>
        </where>
        order by t.start_time desc
    </select>

    <select id="selectApplyPageByCondition" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrder">
        select
        t.*,
        t1.group_name as groupName,
        t2.line_name as lineName,
        NVL(t3.process_status, '未发起') AS wfStatus,
        t3.process_candidate,
        t4.plan_name as planName
        from bu_work_order t
        left join bu_mtr_workshop_group t1 on t1.id = t.group_id
        left join bu_mtr_line t2 on t2.line_id = t.line_id
        left join wf_biz_status t3 on t3.business_key = t.id
        left join bu_repair_plan t4 on t4.id = t.plan_id
        <where>
            <if test="queryVO.id != null and queryVO.id != ''">
                and t.id = #{queryVO.id}
            </if>
            <if test="queryVO.status != null and queryVO.status.size > 0">
                and t.order_status in
                <foreach collection="queryVO.status" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryVO.workGroupId != null and queryVO.workGroupId != ''">
                and t.group_id = #{queryVO.workGroupId}
            </if>
            <if test="queryVO.startDate != null and queryVO.endDate == null ">
                and to_char(t.start_time,'yyyy-mm-dd') = to_char(#{queryVO.startDate},'yyyy-mm-dd')
            </if>
            <if test="queryVO.startDate != null and queryVO.endDate != null ">
                and
                (
                (t.start_time between #{queryVO.startDate} and #{queryVO.endDate})
                or
                (t.finish_time between #{queryVO.startDate} and #{queryVO.endDate})
                )
            </if>
            <if test="queryVO.searchText != null and queryVO.searchText != ''">
                and
                (
                t.order_code like '%'||#{queryVO.searchText}||'%'
                or
                t.order_name like '%'||#{queryVO.searchText}||'%'
                )
            </if>
            <if test="queryVO.orderType != null">
                and t.order_type = #{queryVO.orderType}
            </if>
            <if test="queryVO.trainNo!= null and queryVO.trainNo != ''">
                and t.train_no = #{queryVO.trainNo}
            </if>
            <if test="queryVO.planId!=null and queryVO.planId!=''">
                and t.plan_id=#{queryVO.planId}
            </if>
            and exists(select id from bu_material_apply where work_order_id=t.id)
        </where>
        order by t.order_code desc
    </select>

    <select id="selectApplyPageByConditionForGroup" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrder">
        select
        t.*,
        t1.group_name as groupName,
        t2.line_name as lineName,
        NVL(t3.process_status, '未发起') AS wfStatus,
        t3.process_candidate,
        t4.plan_name as planName
        from bu_work_order t
        left join bu_mtr_workshop_group t1 on t1.id = t.group_id
        left join bu_mtr_line t2 on t2.line_id = t.line_id
        left join wf_biz_status t3 on t3.business_key = t.id
        left join bu_repair_plan t4 on t4.id = t.plan_id
        <where>
            <if test="queryVO.id != null and queryVO.id != ''">
                and t.id = #{queryVO.id}
            </if>
            <choose>
                <when test="queryVO.status != null and queryVO.status.size > 0">
                    and t.order_status in
                    <foreach collection="queryVO.status" item="item" index="index"
                             open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    and t.order_status != 0
                </otherwise>
            </choose>
            <if test="queryVO.workGroupId != null and queryVO.workGroupId != ''">
                and t.group_id = #{queryVO.workGroupId}
            </if>
            <if test="queryVO.startDate != null and queryVO.endDate == null ">
                and to_char(t.start_time,'yyyy-mm-dd') = to_char(#{queryVO.startDate},'yyyy-mm-dd')
            </if>
            <if test="queryVO.startDate != null and queryVO.endDate != null ">
                and
                (
                (t.start_time between #{queryVO.startDate} and #{queryVO.endDate})
                or
                (t.finish_time between #{queryVO.startDate} and #{queryVO.endDate})
                )
            </if>
            <if test="queryVO.searchText != null and queryVO.searchText != ''">
                and
                (
                t.order_code like '%'||#{queryVO.searchText}||'%'
                or
                t.order_name like '%'||#{queryVO.searchText}||'%'
                )
            </if>
            <if test="queryVO.orderType != null">
                and t.order_type = #{queryVO.orderType}
            </if>
            <if test="queryVO.trainNo!= null and queryVO.trainNo != ''">
                and t.train_no = #{queryVO.trainNo}
            </if>
            <if test="queryVO.planId!=null and queryVO.planId!=''">
                and t.plan_id=#{queryVO.planId}
            </if>
            and exists(select id from bu_material_apply where work_order_id=t.id)
        </where>
        order by t.order_code desc
    </select>

    <select id="selectWorkOrderRelevanceInfo" resultMap="ResultMap_WorkOrderRelevanceInfo">
        select t.*,
               t1.group_name                 as groupName,
               t2.line_name                  as lineName,
               t4.plan_name,
               t4.repair_program_id,
               NVL(t3.process_status, '未发起') AS wfStatus,
               t3.process_candidate,
               t5.code                       as fdProjectCode,
               t5.name                       as fdProjectName,
               t6.code                       as fdTaskCode,
               t6.name                       as fdTaskName
        from bu_work_order t
                 left join bu_mtr_workshop_group t1 on t.group_id = t1.id
                 left join bu_mtr_line t2 on t.line_id = t2.line_id
                 left join wf_biz_status t3 on t3.business_key = t.id
                 left join bu_repair_plan t4 on t4.id = t.plan_id
                 left join bu_maximo_finance_item t5 on t5.id = t.fd_project
                 left join bu_maximo_finance_item t6 on t6.id = t.fd_task
        where t.id = #{id}
    </select>

    <select id="selectByTaskId" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrder">
        select t.*,
               t1.group_name as groupName,
               t2.line_name  as lineName
        from bu_work_order t
                 left join bu_mtr_workshop_group t1 on t.group_id = t1.id
                 left join bu_mtr_line t2 on t.line_id = t2.line_id
        where t.id = (select order_id from bu_work_order_task where id = #{workOrderTaskId})
    </select>

    <select id="selectReguDetailIdListByPlanTaskId" resultType="java.lang.String">
        select regu_detail_id
        from bu_repair_task_regu
        where task_id = #{planTaskId}
    </select>

    <select id="selectListByPlanIdList" resultMap="ResultMap_BuWorkOrder_WithTask">
        select t.* from bu_work_order t
        <choose>
            <when test="planIdList != null and planIdList.size >0">
                where t.plan_id in
                <foreach collection="planIdList" item="planId"
                         index="index" separator="," open="(" close=")">
                    #{planId}
                </foreach>
            </when>
            <otherwise>
                where t.plan_id = '-1'
            </otherwise>
        </choose>
    </select>

    <select id="selectOrderById" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrder">
        select t.*,
               t2.name       as repairProgramName,
               t3.line_num,
               t4.work_no    as monitorWorkNo,
               t5.depot_id,
               t6.group_name as groupName,
               t7.code       as fdProjectCode,
               t7.name       as fdProjectName,
               t8.code       as fdTaskCode,
               t8.name       as fdTaskName
        from bu_work_order t
                 left join bu_repair_plan t1 on t1.id = t.plan_id
                 left join bu_repair_program t2 on t2.id = t1.repair_program_id
                 left join bu_mtr_line t3 on t3.line_id = t.line_id
                 left join sys_user t4 on t4.id = t.monitor
                 left join bu_mtr_workshop t5 on t5.id = t.workshop_id
                 left join bu_mtr_workshop_group t6 on t6.id = t.group_id
                 left join bu_maximo_finance_item t7 on t7.id = t.fd_project
                 left join bu_maximo_finance_item t8 on t8.id = t.fd_task
        where t.id = #{orderId}
    </select>

    <select id="selectOrderForMaximoByOrderIdList" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrder">
        select t.*,
        t2.name as repairProgramName,
        t3.line_num,
        t4.work_no as monitorWorkNo,
        t5.depot_id,
        t6.group_name as groupName,
        t7.code as fdProjectCode,
        t7.name as fdProjectName,
        t8.code as fdTaskCode,
        t8.name as fdTaskName
        from bu_work_order t
        left join bu_repair_plan t1 on t1.id = t.plan_id
        left join bu_repair_program t2 on t2.id = t1.repair_program_id
        left join bu_mtr_line t3 on t3.line_id = t.line_id
        left join sys_user t4 on t4.id = t.monitor
        left join bu_mtr_workshop t5 on t5.id = t.workshop_id
        left join bu_mtr_workshop_group t6 on t6.id = t.group_id
        left join bu_maximo_finance_item t7 on t7.id = t.fd_project
        left join bu_maximo_finance_item t8 on t8.id = t.fd_task
        where t.id
        <choose>
            <when test="orderIdList != null and orderIdList.size > 0">
                in
                <foreach collection="orderIdList" item="orderId" open="(" separator="," close=")">
                    #{orderId}
                </foreach>
            </when>
            <otherwise>
                = '-1'
            </otherwise>
        </choose>
    </select>

    <select id="selectUserNameByGroupId" resultType="String">
        select username
        from sys_user t
        where exists(select id from sys_user_depart where dep_id = #{groupId} and user_id = t.id)
          and exists(select id
                     from sys_user_role
                     where user_id = t.id
                       and role_id = (select id from sys_role where role_code = 'groupLeader'))
    </select>

    <select id="selectMonitorUserNameByGroupIdList" resultType="org.jeecg.modules.dispatch.workorder.bean.bo.SysUserBO">
        select
        t.username,
        t1.dep_id as groupId
        from sys_user t
        left join sys_user_depart t1 on t1.user_id = t.id
        left join sys_user_role t2 on t2.user_id = t.id
        where t2.role_id = (select id from sys_role where role_code = 'groupLeader')
        and t1.dep_id
        <choose>
            <when test="groupIdList != null and groupIdList.size > 0">
                in
                <foreach collection="groupIdList" item="groupId" separator="," open="(" close=")">
                    #{groupId}
                </foreach>
            </when>
            <otherwise>
                = '-1'
            </otherwise>
        </choose>

    </select>

    <select id="selectFormIdListByOrderId" resultType="java.lang.String">
        select form_id
        from bu_base_ref_station_form
        where workstation_id in
              (select workstation_id from bu_work_order_task_workstation where order_id = #{orderId})
    </select>

    <select id="selectListByCode" resultType="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrder">
        select id ,order_code from bu_work_order
        <where>
            <if test="list != null and list.size > 0">
                ( order_code in
                <trim suffixOverrides=" OR order_code IN()">
                    <foreach item="item" index="index" collection="list"
                             open="(" close=")">
                        <if test="index != 0">
                            <choose>
                                <when test="index % 1000 == 999">) OR order_code IN (</when>
                                <otherwise>,</otherwise>
                            </choose>
                        </if>
                        #{item}
                    </foreach>
                </trim>
                )
            </if>

        </where>
    </select>

    <select id="selectProcessInstanceId" resultType="java.lang.String">
        select process_instance_id
        from wf_biz_status
        where business_key = #{id}
    </select>

</mapper>
