<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.dispatch.workorder.mapper.BuWorkOrderRecordAssetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.dispatch.workorder.bean.BuWorkOrderRecordAsset">
        <id column="id" property="id" />
        <result column="record_id" property="recordId" />
        <result column="asset_type_id" property="assetTypeId" />
        <result column="struct_detail_id" property="structDetailId" />
        <result column="train_asset_id" property="trainAssetId" />
        <result column="trainAssetName" property="trainAssetName" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, record_id, asset_type_id, struct_detail_id, train_asset_id
    </sql>
    <select id="listEquipment" resultMap="BaseResultMap">
        select t.id,t.record_id,t.asset_type_id,t.struct_detail_id,t.train_asset_id,t1.name as trainAssetName  from bu_work_order_record_asset t
        left join bu_train_asset_type t1 on t.asset_type_id=t1.id
        where t.record_id =(select id from bu_work_order_record where order_form_id=#{id})
    </select>

</mapper>
