<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.material.material.mapper.BuMaterialTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.material.material.bean.BuMaterialType">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="spec" property="spec"/>
        <result column="unit" property="unit"/>
        <result column="price" property="price"/>
        <result column="status" property="status"/>
        <result column="kind" property="kind"/>
        <result column="category" property="category"/>
        <result column="category1" property="category1"/>
        <result column="category2" property="category2"/>
        <result column="category3" property="category3"/>
        <result column="theshold" property="theshold"/>
        <result column="subject" property="subject"/>
        <result column="is_asset" property="isAsset"/>
        <result column="from_head" property="fromHead"/>
        <result column="is_consume" property="isConsume"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <!--        <result column="warehouse" property="warehouse"/>-->
        <result column="extAttr" property="extAttr"/>
        <result column="amount" property="amount"/>
        <result column="category" property="category"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, spec, unit, price, status, kind, category, category1, category2, category3,
        theshold, subject, is_asset, from_head, is_consume, remark, create_time, create_by, update_time, update_by
    </sql>
    <!-- 插入value sql -->
    <sql id="insertValueItem">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.code, jdbcType=VARCHAR},
            #{item.name, jdbcType=VARCHAR},
            #{item.spec, jdbcType=VARCHAR},
            #{item.unit, jdbcType=VARCHAR},
            #{item.price, jdbcType=DECIMAL},
            #{item.status, jdbcType=INTEGER},
            #{item.kind, jdbcType=INTEGER},
            #{item.category1, jdbcType=INTEGER},
            #{item.theshold, jdbcType=DECIMAL},
            #{item.isAsset, jdbcType=INTEGER},
            #{item.fromHead, jdbcType=INTEGER},
            #{item.createTime, jdbcType=TIMESTAMP}
        </trim>
    </sql>
    <insert id="insertBatch" parameterType="list">
        insert into bu_material_type
        (
        id, code, name, spec, unit, price, status,kind, category1, theshold, is_asset, from_head,create_time
        )
        value
        <foreach collection="list" item="item" separator=",">
            (
            <include refid="insertValueItem"/>
            )
        </foreach>

    </insert>
    <!--category1=#{item.category1, jdbcType=INTEGER},不改变类型-->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" open="begin" close=";end;" separator=";">
            update bu_material_type set theshold=#{item.theshold, jdbcType=DECIMAL},
            spec=#{item.spec, jdbcType=VARCHAR},unit=#{item.unit, jdbcType=VARCHAR},name=#{item.name, jdbcType=VARCHAR}
            where id = #{item.id, jdbcType=VARCHAR}
        </foreach>

    </update>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.code, jdbcType=VARCHAR},
            #{item.name, jdbcType=VARCHAR},
            #{item.spec, jdbcType=VARCHAR},
            #{item.unit, jdbcType=VARCHAR},
            #{item.price, jdbcType=DECIMAL},
            #{item.status, jdbcType=INTEGER},
            #{item.kind, jdbcType=INTEGER},
            #{item.category, jdbcType=VARCHAR},
            #{item.category1, jdbcType=INTEGER},
            #{item.category2, jdbcType=VARCHAR},
            #{item.category3, jdbcType=VARCHAR},
            #{item.theshold, jdbcType=DECIMAL},
            #{item.subject, jdbcType=VARCHAR},
            #{item.isAsset, jdbcType=INTEGER},
            #{item.fromHead, jdbcType=INTEGER},
            #{item.isConsume, jdbcType=INTEGER},
            #{item.remark, jdbcType=VARCHAR},
            #{item.createTime, jdbcType=TIMESTAMP},
            #{item.createBy, jdbcType=VARCHAR},
            #{item.updateTime, jdbcType=TIMESTAMP},
            #{item.updateBy, jdbcType=VARCHAR}
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        <if test="list != null and list.size > 0">
            INSERT INTO bu_material_type
            (
            <include refid="Base_Column_List"/>
            )
            <foreach collection="list" item="item" index="index" separator="union all">
                (
                select
                <include refid="insertValueItems"/>
                from dual
                )
            </foreach>
        </if>
    </insert>

    <update id="updatePriceBatch">
        <foreach collection="list" item="item" open="begin" close=";end;" separator=";">
            update bu_material_type set price = #{item.price, jdbcType=NUMERIC}
            where id = #{item.id, jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="updateIdEqualsCodeBatch">
        <foreach collection="list" item="item" open="begin" close=";end;" separator=";">
            update bu_material_type set id = #{item.code, jdbcType=VARCHAR}
            where id = #{item.id, jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="updateOldNewMaterialTypeIdBusinessTableData">
        <foreach collection="oldIdsNewIdMapList" item="oldIdsNewIdMap" open="begin" close=";end;" separator=";">
            update bu_material_stock set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_material_group_stock set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_material_must_list set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_material_tools set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_material_spare_part set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_material_type_attr set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_material_year_plan set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_repair_regu_material set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_repair_regu_tools set tool_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where tool_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_repair_tech_book_material set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_repair_tech_book_tools set tool_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where tool_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_tp_repair_plan_material set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_tp_repair_plan_tool set tool_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where tool_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_tp_repair_plan_must_replace set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_repair_task_material set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_repair_task_tool set tool_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where tool_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_repair_task_must_replace set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_work_order_material set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_work_order_tool set tool_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where tool_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_work_part_change set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_material_apply_detail set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_material_assign_detail set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_material_borrow_detail set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_material_entry_detail set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_material_entry_4_detail set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
            ;
            update bu_material_returned_detail set material_type_id = #{oldIdsNewIdMap.newId, jdbcType=VARCHAR}
            where material_type_id in
            <foreach collection="oldIdsNewIdMap.oldIds" item="oldId" separator="," open="(" close=")">
                #{oldId, jdbcType=VARCHAR}
            </foreach>
        </foreach>
    </update>

    <update id="updateMaterialTypePriceBusinessTableData">
        <foreach collection="idPriceMapList" item="idPriceMap" open="begin" close=";end;" separator=";">
            update bu_work_order_material_acts set price = #{idPriceMap.price, jdbcType=NUMERIC}
            where order_material_id in (select id from bu_work_order_material where material_type_id =
            #{idPriceMap.id, jdbcType=VARCHAR})
            ;
            update bu_material_group_stock set price = #{idPriceMap.price, jdbcType=NUMERIC}
            where material_type_id = #{idPriceMap.id, jdbcType=VARCHAR}
            ;
            update bu_material_assign_detail set price = #{idPriceMap.price, jdbcType=NUMERIC}
            where material_type_id = #{idPriceMap.id, jdbcType=VARCHAR}
            ;
            update bu_material_stock set price = #{idPriceMap.price, jdbcType=NUMERIC}
            where material_type_id = #{idPriceMap.id, jdbcType=VARCHAR}
            ;
            update bu_material_entry_detail set price = #{idPriceMap.price, jdbcType=NUMERIC}
            where material_type_id = #{idPriceMap.id, jdbcType=VARCHAR}
            ;
            update bu_material_type set price = #{idPriceMap.price, jdbcType=NUMERIC}
            where id = #{idPriceMap.id, jdbcType=VARCHAR}
        </foreach>
    </update>

    <!--    <select id="selectMaterialTypePage" resultType="org.jeecg.modules.material.material.bean.BuMaterialType">-->
    <!--        select-->
    <!--        t.*,-->
    <!--        t.category2 as extAttr,-->
    <!--        t1.lead,-->
    <!--        (-->
    <!--        <choose>-->
    <!--            <when test="queryVO.warehouseId != null and queryVO.warehouseId != ''">-->
    <!--                select sum(a1.amount) from bu_material_stock a1-->
    <!--                left join bu_mtr_warehouse a2 on a2.id = a1.warehouse_id-->
    <!--                where a1.material_type_id = t.id-->
    <!--                and a2.wbs like concat((select wbs from bu_mtr_warehouse where id = #{queryVO.warehouseId}),'%')-->
    <!--            </when>-->
    <!--            <otherwise>-->
    <!--                select sum(a1.amount) from bu_material_stock a1-->
    <!--                where a1.material_type_id = t.id-->
    <!--            </otherwise>-->
    <!--        </choose>-->
    <!--        ) as amount-->
    <!--        from bu_material_type t-->
    <!--        left join bu_material_type_attr t1 on t1.material_type_id = t.id-->
    <!--        <where>-->
    <!--            <if test="queryVO.type != null">-->
    <!--                and t.kind = #{queryVO.type}-->
    <!--            </if>-->
    <!--            <if test="queryVO.attr != null">-->
    <!--                and t.category2 = #{queryVO.attr}-->
    <!--            </if>-->
    <!--            <if test="queryVO.searchText != null and queryVO.searchText != ''">-->
    <!--                and ( t.name like concat('%',#{queryVO.searchText},'%') or-->
    <!--                t.code like concat('%',#{queryVO.searchText},'%') )-->
    <!--            </if>-->
    <!--            <if test="queryVO.category1 != null and queryVO.category1 != ''">-->
    <!--                and t.category1 = #{queryVO.category1}-->
    <!--            </if>-->
    <!--            <if test="queryVO.warehouseId != null and queryVO.warehouseId != ''">-->
    <!--                and t.id in (-->
    <!--                select a1.material_type_id from bu_material_stock a1-->
    <!--                left join bu_mtr_warehouse a2 on a2.id = a1.warehouse_id-->
    <!--                where a2.wbs like concat((select wbs from bu_mtr_warehouse where id = #{queryVO.warehouseId}),'%')-->
    <!--                )-->
    <!--            </if>-->
    <!--        </where>-->
    <!--        order by t.code-->
    <!--    </select>-->
    <select id="selectMaterialTypePage" resultType="org.jeecg.modules.material.material.bean.BuMaterialType">
        select
        t.*,
        t.category2 as extAttr,
        t1.lead,
        t2.can_replace
        from bu_material_type t
        left join bu_material_type_attr t1 on t1.material_type_id = t.id
        left join bu_material_type_replace t2 on t2.id = t.id
        <where>
            <if test="queryVO.type != null">
                and t.kind = #{queryVO.type}
            </if>
            <if test="queryVO.attr != null">
                and t.category2 = #{queryVO.attr}
            </if>
            <!--            <if test="queryVO.searchText != null and queryVO.searchText != ''">-->
            <!--                and (-->
            <!--                t.name like '%'||#{queryVO.searchText}||'%'-->
            <!--                or-->
            <!--                t.code like '%'||#{queryVO.searchText}||'%'-->
            <!--                )-->
            <!--            </if>-->
            <if test="queryVO.searchMaterialTypeIdList != null and queryVO.searchMaterialTypeIdList.size > 0">
                and t.id in
                <foreach collection="queryVO.searchMaterialTypeIdList" item="materialTypeId" open="(" separator=","
                         close=")">
                    #{materialTypeId}
                </foreach>
            </if>
            <if test="queryVO.category1List != null and queryVO.category1List.size > 0">
                and (
                <foreach collection="queryVO.category1List" item="category1Item" separator=" or " open="(" close=")">
                    t.category1 = #{category1Item}
                </foreach>
                )
            </if>
            <if test="queryVO.materialTypeCodeList != null and queryVO.materialTypeCodeList.size > 0">
                and t.code in
                <foreach collection="queryVO.materialTypeCodeList" item="materialTypeCode" separator="," open="("
                         close=")">
                    #{materialTypeCode}
                </foreach>
            </if>
        </where>
        order by t.code
    </select>

    <!--    <select id="selectMaterialTypeToolPage" resultType="org.jeecg.modules.material.material.bean.BuMaterialTypeTool">-->
    <!--        select-->
    <!--        t.*,-->
    <!--        t.category2 as extAttr,-->
    <!--        t1.lead,-->
    <!--        (-->
    <!--        <choose>-->
    <!--            <when test="queryVO.warehouseId != null and queryVO.warehouseId != ''">-->
    <!--                select sum(a1.amount) from bu_material_stock a1-->
    <!--                left join bu_mtr_warehouse a2 on a2.id = a1.warehouse_id-->
    <!--                where a1.material_type_id = t.id-->
    <!--                and a2.wbs like concat((select wbs from bu_mtr_warehouse where id = #{queryVO.warehouseId}),'%')-->
    <!--            </when>-->
    <!--            <otherwise>-->
    <!--                select sum(a1.amount) from bu_material_stock a1-->
    <!--                where a1.material_type_id = t.id-->
    <!--            </otherwise>-->
    <!--        </choose>-->
    <!--        ) as amount-->
    <!--        from bu_material_type t-->
    <!--        left join bu_material_type_attr t1 on t1.material_type_id = t.id-->
    <!--        <where>-->
    <!--            <if test="queryVO.type != null">-->
    <!--                and t.kind = #{queryVO.type}-->
    <!--            </if>-->
    <!--            <if test="queryVO.attr != null">-->
    <!--                and t.category2 = #{queryVO.attr}-->
    <!--            </if>-->
    <!--            <if test="queryVO.searchText != null and queryVO.searchText != ''">-->
    <!--                and ( t.name like concat('%',#{queryVO.searchText},'%') or-->
    <!--                t.code like concat('%',#{queryVO.searchText},'%') )-->
    <!--            </if>-->
    <!--            <if test="queryVO.category1 != null and queryVO.category1 != ''">-->
    <!--                and t.category1 = #{queryVO.category1}-->
    <!--            </if>-->
    <!--            <if test="queryVO.warehouseId != null and queryVO.warehouseId != ''">-->
    <!--                and t.id in (-->
    <!--                select a1.material_type_id from bu_material_stock a1-->
    <!--                left join bu_mtr_warehouse a2 on a2.id = a1.warehouse_id-->
    <!--                where a2.wbs like concat((select wbs from bu_mtr_warehouse where id = #{queryVO.warehouseId}),'%')-->
    <!--                )-->
    <!--            </if>-->
    <!--        </where>-->
    <!--        order by t.code-->
    <!--    </select>-->
    <select id="selectMaterialTypeToolPage" resultType="org.jeecg.modules.material.material.bean.BuMaterialTypeTool">
        select
        t.*,
        t.category2 as extAttr,
        t1.lead,
        t2.can_replace
        from bu_material_type t
        left join bu_material_type_attr t1 on t1.material_type_id = t.id
        left join bu_material_type_replace t2 on t2.id = t.id
        <where>
            <if test="queryVO.type != null">
                and t.kind = #{queryVO.type}
            </if>
            <if test="queryVO.attr != null">
                and t.category2 = #{queryVO.attr}
            </if>
            <if test="queryVO.searchText != null and queryVO.searchText != ''">
                and (
                t.name like '%'||#{queryVO.searchText}||'%'
                or
                t.code like '%'||#{queryVO.searchText}||'%')
            </if>
            <if test="queryVO.category1List != null and queryVO.category1List.size > 0">
                and (
                <foreach collection="queryVO.category1List" item="category1Item" separator=" or " open="(" close=")">
                    t.category1 = #{category1Item}
                </foreach>
                )
            </if>
            <if test="queryVO.materialTypeCodeList != null and queryVO.materialTypeCodeList.size > 0">
                and t.code in
                <foreach collection="queryVO.materialTypeCodeList" item="materialTypeCode" separator="," open="("
                         close=")">
                    #{materialTypeCode}
                </foreach>
            </if>
        </where>
        order by t.code
    </select>

    <!--    <select id="selectMustMaterialTypePage" resultType="org.jeecg.modules.material.material.bean.BuMaterialType">-->
    <!--        select-->
    <!--        t.*,-->
    <!--        t.category2 as extAttr,-->
    <!--        t1.lead,-->
    <!--        (-->
    <!--        <choose>-->
    <!--            <when test="queryVO.warehouseId != null and queryVO.warehouseId != ''">-->
    <!--                select sum(a1.amount) from bu_material_stock a1-->
    <!--                left join bu_mtr_warehouse a2 on a2.id = a1.warehouse_id-->
    <!--                where a1.material_type_id = t.id-->
    <!--                and a2.wbs like concat((select wbs from bu_mtr_warehouse where id = #{queryVO.warehouseId}),'%')-->
    <!--            </when>-->
    <!--            <otherwise>-->
    <!--                select sum(a1.amount) from bu_material_stock a1-->
    <!--                where a1.material_type_id = t.id-->
    <!--            </otherwise>-->
    <!--        </choose>-->
    <!--        ) as amount-->
    <!--        from bu_material_type t-->
    <!--        left join bu_material_type_attr t1 on t1.material_type_id = t.id-->
    <!--        <where>-->
    <!--            and t.category1 = 1-->
    <!--            <if test="queryVO.type != null">-->
    <!--                and t.kind = #{queryVO.type}-->
    <!--            </if>-->
    <!--            <if test="queryVO.attr != null">-->
    <!--                and t.category2 = #{queryVO.attr}-->
    <!--            </if>-->
    <!--            <if test="queryVO.searchText != null and queryVO.searchText != ''">-->
    <!--                and ( t.name like concat('%',#{queryVO.searchText},'%') or-->
    <!--                t.code like concat('%',#{queryVO.searchText},'%') )-->
    <!--            </if>-->
    <!--            <if test="queryVO.warehouseId != null and queryVO.warehouseId != ''">-->
    <!--                and t.id in (-->
    <!--                select a1.material_type_id from bu_material_stock a1-->
    <!--                left join bu_mtr_warehouse a2 on a2.id = a1.warehouse_id-->
    <!--                where a2.wbs like concat((select wbs from bu_mtr_warehouse where id = #{queryVO.warehouseId}),'%')-->
    <!--                )-->
    <!--            </if>-->
    <!--        </where>-->
    <!--        order by t.code-->
    <!--    </select>-->
    <select id="selectMustMaterialTypePage" resultType="org.jeecg.modules.material.material.bean.BuMaterialType">
        select
        t.*,
        t.category2 as extAttr,
        t1.lead,
        t2.can_replace
        from bu_material_type t
        left join bu_material_type_attr t1 on t1.material_type_id = t.id
        left join bu_material_type_replace t2 on t2.id = t.id
        <where>
            and t.category1 = 1
            <if test="queryVO.type != null">
                and t.kind = #{queryVO.type}
            </if>
            <if test="queryVO.attr != null">
                and t.category2 = #{queryVO.attr}
            </if>
            <!--            <if test="queryVO.searchText != null and queryVO.searchText != ''">-->
            <!--                and (-->
            <!--                t.name like '%'||#{queryVO.searchText}||'%'-->
            <!--                or-->
            <!--                t.code like '%'||#{queryVO.searchText}||'%'-->
            <!--                )-->
            <!--            </if>-->
            <if test="queryVO.searchMaterialTypeIdList != null and queryVO.searchMaterialTypeIdList.size > 0">
                and t.id in
                <foreach collection="queryVO.searchMaterialTypeIdList" item="materialTypeId" open="(" separator=","
                         close=")">
                    #{materialTypeId}
                </foreach>
            </if>
            <if test="queryVO.materialTypeCodeList != null and queryVO.materialTypeCodeList.size > 0">
                and t.code in
                <foreach collection="queryVO.materialTypeCodeList" item="materialTypeCode" separator="," open="("
                         close=")">
                    #{materialTypeCode}
                </foreach>
            </if>
        </where>
        order by t.code
    </select>

    <select id="selectMaterialTypeById" resultType="org.jeecg.modules.material.material.bean.BuMaterialType">
        select t.*,
               t.category2                                                                        as extAttr,
               t1.lead,
               (select sum(a1.amount) from bu_material_stock a1 where a1.material_type_id = t.id) as amount,
               t2.can_replace
        from bu_material_type t
                 left join bu_material_type_attr t1 on t1.material_type_id = t.id
                 left join bu_material_type_replace t2 on t2.id = t.id
        where t.id = #{id}
    </select>

    <select id="selectSysIdByPartId" resultType="java.lang.String">
        select id
        from bu_train_asset_type
        where struct_type = 1
          and instr((select wbs
                     from bu_train_asset_type
                     where id = (select asset_type_id from bu_train_structure_detail where id = #{id})), wbs, '1',
                    '1') > 0
    </select>

    <select id="selectAll" resultType="org.jeecg.modules.material.material.bean.BuMaterialType">
        select t.id, t.code
        from bu_material_type t
    </select>

    <insert id="saveTypeList" parameterType="java.util.List">
        insert into bu_material_type
        (
        <include refid="Base_Column_List"/>
        )
        <foreach collection="list" item="item" index="index" separator="union all">
            (
            select
            <include refid="insertValueItems"/>
            from dual
            )
        </foreach>
    </insert>

    <select id="selectListByCode" resultMap="BaseResultMap">
        select id,code from bu_material_type
        <where>
            <if test="list != null and list.size > 0">
                ( code in
                <trim suffixOverrides=" OR code IN()">
                    <foreach item="item" index="index" collection="list"
                             open="(" close=")">
                        <if test="index != 0">
                            <choose>
                                <when test="index % 1000 == 999">) OR code IN (</when>
                                <otherwise>,</otherwise>
                            </choose>
                        </if>
                        #{item}
                    </foreach>
                </trim>
                )
            </if>
        </where>
    </select>

    <select id="selectRepeatMaterialTypeList" resultType="org.jeecg.modules.material.material.bean.BuMaterialType">
        select *
        from bu_material_type
        where code in (select code from bu_material_type group by code having COUNT(1) > 1)
        order by code
    </select>

    <select id="selectCodeIdNotEqualsMaterialTypeList"
            resultType="org.jeecg.modules.material.material.bean.BuMaterialType">
        select *
        from bu_material_type
        where code != id
        order by code
    </select>

</mapper>
