<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.basemanage.traininfo.mapper.BuTrainAssetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAsset">
        <id column="id" property="id"/>
        <result column="asset_name" property="assetName"/>
        <result column="asset_no" property="assetNo"/>
        <result column="parent_id" property="parentId"/>
        <result column="struct_detail_id" property="structDetailId"/>
        <result column="asset_type_id" property="assetTypeId"/>
        <result column="line_id" property="lineId"/>
        <result column="train_id" property="trainId"/>
        <result column="brand" property="brand"/>
        <result column="vendor" property="vendor"/>
        <result column="model" property="model"/>
        <result column="manuf_no" property="manufNo"/>
        <result column="material_code" property="materialCode"/>
        <result column="asset_code" property="assetCode"/>
        <result column="subjunctive" property="subjunctive"/>
        <result column="turnover" property="turnover"/>
        <result column="material_type_id" property="materialTypeId"/>
        <result column="place_id" property="placeId"/>
        <result column="place_desc" property="placeDesc"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="struct_type" property="structType"/>
        <result column="wbs" property="wbs"/>
        <result column="remark" property="remark"/>
        <result column="sort_no" property="sortNo"/>
        <result column="turnover_asset_id" property="turnoverAssetId"/>
        <result column="short_name" property="shortName"/>
    </resultMap>

    <resultMap id="ResultMap_BuTrainAsset_Tree_For_App"
               type="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAsset">
        <id column="id" property="id"/>
        <result column="asset_name" property="assetName"/>
        <result column="asset_no" property="assetNo"/>
        <result column="parent_id" property="parentId"/>
        <result column="struct_detail_id" property="structDetailId"/>
        <result column="asset_type_id" property="assetTypeId"/>
        <result column="line_id" property="lineId"/>
        <result column="train_id" property="trainId"/>
        <result column="brand" property="brand"/>
        <result column="vendor" property="vendor"/>
        <result column="model" property="model"/>
        <result column="manuf_no" property="manufNo"/>
        <result column="material_code" property="materialCode"/>
        <result column="asset_code" property="assetCode"/>
        <result column="subjunctive" property="subjunctive"/>
        <result column="turnover" property="turnover"/>
        <result column="material_type_id" property="materialTypeId"/>
        <result column="place_id" property="placeId"/>
        <result column="place_desc" property="placeDesc"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="struct_type" property="structType"/>
        <result column="wbs" property="wbs"/>
        <result column="remark" property="remark"/>
        <result column="sort_no" property="sortNo"/>
        <result column="turnover_asset_id" property="turnoverAssetId"/>
        <result column="short_name" property="shortName"/>
        <collection property="children" column="id"
                    ofType="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAsset"
                    select="selectTrainAssetChildrenForApp"/>
    </resultMap>
    <select id="selectTrainAssetChildrenForApp" resultMap="ResultMap_BuTrainAsset_Tree_For_App">
        select t.*,
               t1.line_name,
               t2.train_no
        from bu_train_asset t
                 left join bu_mtr_line t1 on t1.line_id = t.line_id
                 left join bu_train_info t2 on t2.id = t.train_id
        where t.parent_id = #{id}
        order by t.sort_no, t.wbs
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, asset_name, asset_no, parent_id, struct_detail_id, asset_type_id, line_id, train_id,
        brand, vendor, model, manuf_no, material_code, asset_code, subjunctive, turnover, material_type_id,
        place_id, place_desc, status, create_time, create_by, update_time, update_by, struct_type, wbs,
        remark, sort_no, turnover_asset_id, short_name
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.assetName, jdbcType=VARCHAR},
            #{item.assetNo, jdbcType=VARCHAR},
            #{item.parentId, jdbcType=VARCHAR},
            #{item.structDetailId, jdbcType=VARCHAR},
            #{item.assetTypeId, jdbcType=VARCHAR},
            #{item.lineId, jdbcType=VARCHAR},
            #{item.trainId, jdbcType=VARCHAR},
            #{item.brand, jdbcType=VARCHAR},
            #{item.vendor, jdbcType=VARCHAR},
            #{item.model, jdbcType=VARCHAR},
            #{item.manufNo, jdbcType=VARCHAR},
            #{item.materialCode, jdbcType=VARCHAR},
            #{item.assetCode, jdbcType=VARCHAR},
            #{item.subjunctive, jdbcType=INTEGER},
            #{item.turnover, jdbcType=INTEGER},
            #{item.materialTypeId, jdbcType=VARCHAR},
            #{item.placeId, jdbcType=VARCHAR},
            #{item.placeDesc, jdbcType=VARCHAR},
            #{item.status, jdbcType=INTEGER},
            #{item.createTime, jdbcType=TIMESTAMP},
            #{item.createBy, jdbcType=VARCHAR},
            #{item.updateTime, jdbcType=TIMESTAMP},
            #{item.updateBy, jdbcType=VARCHAR},
            #{item.structType, jdbcType=INTEGER},
            #{item.wbs, jdbcType=VARCHAR},
            #{item.remark, jdbcType=VARCHAR},
            #{item.sortNo, jdbcType=VARCHAR},
            #{item.turnoverAssetId, jdbcType=VARCHAR},
            #{item.shortName, jdbcType=VARCHAR}
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO bu_train_asset
        (
        <include refid="Base_Column_List"/>
        )
        <foreach collection="list" item="item" index="index" separator="union all">
            (
            select
            <include refid="insertValueItems"/>
            from dual
            )
        </foreach>
    </insert>

    <select id="selectListByBuTrainAssetQueryVO"
            resultType="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAsset">
        <if test="queryVO.title == null or queryVO.title == ''">
            select
            t.*,
            decode((select count(1) from bu_train_asset where parent_id = t.id), 0, 0, 1) as hasChildren,
            t1.name as structDetailName,
            t2.name as assetTypeName,
            t3.place_code as placeCode,
            t4.asset_name as parentName
            from bu_train_asset t
            left join bu_train_structure_detail t1 on t1.id = t.struct_detail_id
            left join bu_train_asset_type t2 on t2.id = t.asset_type_id
            left join bu_train_place t3 on t3.id = t.place_id
            left join bu_train_asset t4 on t4.id=t.parent_id
            <where>
                <choose>
                    <when test="queryVO.code != null and queryVO.code != ''">
                        and t.train_id = (select id from bu_train_info where train_no = #{queryVO.code})
                    </when>
                    <otherwise>
                        and t.train_id = '-1'
                    </otherwise>
                </choose>
                <if test="queryVO.status != null">
                    and t.status = #{queryVO.status}
                </if>
                <choose>
                    <when test="queryVO.id != null and queryVO.id != ''">
                        and t.parent_id = #{queryVO.id}
                    </when>
                    <otherwise>
                        and (t.parent_id is null or t.parent_id = '')
                    </otherwise>
                </choose>
            </where>
            order by t.sort_no, t.wbs

        </if>
        <if test="queryVO.title != null and queryVO.title != ''">
            select
            t.*,
            decode((select count(1) from bu_train_asset where parent_id = t.id), 0, 0, 1) as hasChildren,
            t1.name as structDetailName,
            t2.name as assetTypeName,
            t3.place_code as placeCode,
            t4.asset_name as parentName
            from bu_train_asset t
            left join bu_train_structure_detail t1 on t1.id = t.struct_detail_id
            left join bu_train_asset_type t2 on t2.id = t.asset_type_id
            left join bu_train_place t3 on t3.id = t.place_id
            left join bu_train_asset t4 on t4.id=t.parent_id
            <where>
                <choose>
                    <when test="queryVO.code != null and queryVO.code != ''">
                        and t.train_id = (select id from bu_train_info where train_no = #{queryVO.code})
                    </when>
                    <otherwise>
                        and t.train_id = '-1'
                    </otherwise>
                </choose>
                <if test="queryVO.status != null">
                    and t.status = #{queryVO.status}
                </if>
                <if test="queryVO.id != null and queryVO.id != ''">
                    and t.wbs like
                    (select wbs from bu_train_asset where id=#{queryVO.id})||'%'
                    and t.id  <![CDATA[ != ]]> #{queryVO.id}
                </if>
                and (
                t.asset_name like '%'||#{queryVO.title}||'%'
                or
                t.asset_no like '%'||#{queryVO.title}||'%'
                )
            </where>
            order by t.sort_no, t.wbs
        </if>

    </select>

    <select id="selectTreeListByListQueryVOForApp" resultMap="ResultMap_BuTrainAsset_Tree_For_App">
        select t.*,
        t1.line_name,
        t2.train_no
        from bu_train_asset t
        left join bu_mtr_line t1 on t1.line_id = t.line_id
        left join bu_train_info t2 on t2.id = t.train_id
        <where>
            <if test="queryVO.lineId != null and queryVO.lineId != ''">
                and t.line_id = #{queryVO.lineId}
            </if>
            <if test="queryVO.trainNo != null and queryVO.trainNo != ''">
                and t2.train_no = #{queryVO.trainNo}
            </if>
            <if test="queryVO.systemId != null and queryVO.systemId != ''">
                and t.asset_type_id in (
                select id from bu_train_asset_type
                where wbs like (select wbs from bu_train_asset_type where id = #{queryVO.systemId})||'%'
                )
            </if>
            <if test="queryVO.assetName != null and queryVO.assetName != ''">
                and t.asset_name like '%'||#{queryVO.assetName}||'%'
            </if>
        </where>
        order by t.sort_no, t.wbs
    </select>

    <select id="selectListByTreeQueryVO" resultType="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAsset">
        select t.*,
        decode((select count(1) from bu_train_asset where parent_id = t.id), 0, 0, 1) as hasChildren,
        t1.name as structDetailName,
        t2.name as assetTypeName
        from bu_train_asset t
        left join bu_train_structure_detail t1 on t1.id = t.struct_detail_id
        left join bu_train_asset_type t2 on t2.id = t.asset_type_id
        <where>
            <if test="queryVO.trainId != null and queryVO.trainId != ''">
                and t.train_id = #{queryVO.trainId}
            </if>
            <if test="queryVO.structDetailId != null and queryVO.structDetailId != ''">
                and t.struct_detail_id = #{queryVO.structDetailId}
            </if>
            <if test="queryVO.assetTypeId != null and queryVO.assetTypeId != ''">
                and t.asset_type_id = #{queryVO.assetTypeId}
            </if>
            <if test="(queryVO.assetTypeId == null or queryVO.assetTypeId == '')
                    and
                  (queryVO.structDetailId == null or queryVO.structDetailId == '')">
                and (t.parent_id is null or t.parent_id = '')
            </if>
        </where>
        order by t.sort_no, t.wbs
    </select>

    <select id="selectListByListQueryVOForApp" resultType="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAsset">
        select t.*,
        t1.line_name,
        t2.train_no
        from bu_train_asset t
        left join bu_mtr_line t1 on t1.line_id = t.line_id
        left join bu_train_info t2 on t2.id = t.train_id
        <where>
            <if test="queryVO.lineId != null and queryVO.lineId != ''">
                and t.line_id = #{queryVO.lineId}
            </if>
            <if test="queryVO.trainNo != null and queryVO.trainNo != ''">
                and t2.train_no = #{queryVO.trainNo}
            </if>
            <if test="queryVO.systemId != null and queryVO.systemId != ''">
                and t.asset_type_id in (
                select id from bu_train_asset_type
                where wbs like (select wbs from bu_train_asset_type where id = #{queryVO.systemId})||'%'
                )
            </if>
            <if test="queryVO.assetName != null and queryVO.assetName != ''">
                and t.asset_name like '%'||#{queryVO.assetName}||'%'
            </if>
        </where>
        order by t.sort_no, t.wbs
    </select>

    <select id="selectAssetNoListByTrainId" resultType="java.lang.String">
        select asset_no
        from bu_train_asset
        where train_id = #{trainId}
    </select>

    <select id="selectAllChildrenListByWbsList" resultType="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAsset">
        select t.*,
        decode((select count(1) from bu_train_asset where parent_id = t.id), 0, 0, 1) as hasChildren,
        t1.name as structDetailName,
        t2.name as assetTypeName
        from bu_train_asset t
        left join bu_train_structure_detail t1 on t1.id = t.struct_detail_id
        left join bu_train_asset_type t2 on t2.id = t.asset_type_id
        where
        <choose>
            <when test="wbsList != null and wbsList.size > 0">
                <foreach collection="wbsList" item="wbs" separator=" or ">
                    t.wbs like #{wbs}||'.%'
                </foreach>
            </when>
            <otherwise>
                t.wbs = '-1'
            </otherwise>
        </choose>
    </select>

    <select id="selectListByParentIdList" resultType="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAsset">
        select t.*,
        decode((select count(1) from bu_train_asset where parent_id = t.id), 0, 0, 1) as hasChildren,
        t1.name as structDetailName,
        t2.name as assetTypeName
        from bu_train_asset t
        left join bu_train_structure_detail t1 on t1.id = t.struct_detail_id
        left join bu_train_asset_type t2 on t2.id = t.asset_type_id
        where t.parent_id in
        <foreach collection="parentIdList" item="parentId" separator="," open="(" close=")">
            #{parentId}
        </foreach>
    </select>

    <select id="selectListByTrainIdAndStructDetailId"
            resultType="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAsset">
        select t.*
        from bu_train_asset t
        where t.train_id = #{trainId}
          and t.struct_detail_id = #{structDetailId}
    </select>

    <select id="selectTopListByTrainId" resultType="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAsset">
        select t.*,
               decode((select count(1) from bu_train_asset where parent_id = t.id), 0, 0, 1) as hasChildren,
               t1.name as structDetailName,
               t2.name as assetTypeName
        from bu_train_asset t
                 left join bu_train_structure_detail t1 on t1.id = t.struct_detail_id
                 left join bu_train_asset_type t2 on t2.id = t.asset_type_id
        where t.train_id = #{trainId}
          and (t.parent_id is null or t.parent_id = '')
    </select>

    <select id="selectBrotherMaxCodeByParentId" resultType="java.lang.String">
        select max(asset_no)
        from bu_train_asset
        where
        <choose>
            <when test="parentId != null and parentId != ''">
                parent_id = #{parentId}
            </when>
            <otherwise>
                parent_id is null or parent_id = ''
            </otherwise>
        </choose>
    </select>

</mapper>
