<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.basemanage.workrecord.mapper.BuWorkRecordCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.basemanage.workrecord.bean.BuWorkRecordCategory">
        <id column="id" property="id"/>
        <result column="work_rec_id" property="workRecId"/>
        <result column="rec_index" property="recIndex"/>
        <result column="regu_title" property="reguTitle"/>
        <result column="regu_detail_id" property="reguDetailId"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, work_rec_id, rec_index, regu_title, regu_detail_id, parent_id
    </sql>


    <select id="selectListByWorkRecordId"
            resultType="org.jeecg.modules.basemanage.workrecord.bean.BuWorkRecordCategory">
        SELECT
        t.*,
        t1.title AS reguName
        FROM bu_work_record_category t
        LEFT JOIN bu_repair_regu_detail t1 ON t1.id = t.regu_detail_id
        WHERE t.work_rec_id = #{workRecordId}
        ORDER BY t.rec_index
    </select>

    <select id="selectIdListByWorkRecordIdList" resultType="java.lang.String">
        SELECT
        t.id
        FROM bu_work_record_category t
        WHERE t.work_rec_id IN
        <foreach collection="workRecordIdList" item="workRecordId" index="index" separator="," open="(" close=")">
            #{workRecordId}
        </foreach>
        ORDER BY t.rec_index
    </select>

</mapper>
