<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.third.jdx.mapper.BuFaultInfoThirdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.third.jdx.bean.BuFaultInfo">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="fault_code_id" property="faultCodeId"/>
        <result column="fault_sn" property="faultSn"/>
        <result column="fault_desc" property="faultDesc"/>
        <result column="sys_id" property="sysId"/>
        <result column="sub_sys_id" property="subSysId"/>
        <result column="fault_asset_id" property="faultAssetId"/>
        <result column="happen_time" property="happenTime"/>
        <result column="work_order_id" property="workOrderId"/>
        <result column="order_task_id" property="orderTaskId"/>
        <result column="line_id" property="lineId"/>
        <result column="train_no" property="trainNo"/>
        <result column="phase" property="phase"/>
        <result column="fault_level" property="faultLevel"/>
        <result column="f_online" property="faultOnline"/>
        <result column="has_duty" property="hasDuty"/>
        <result column="outsource" property="outsource"/>
        <result column="report_group_id" property="reportGroupId"/>
        <result column="report_user_id" property="reportUserId"/>
        <result column="report_time" property="reportTime"/>
        <result column="duty_engineer" property="dutyEngineer"/>
        <result column="status" property="status"/>
        <result column="close_user_id" property="closeUserId"/>
        <result column="close_time" property="closeTime"/>
        <result column="submit_status" property="submitStatus"/>
        <result column="work_station_id" property="workStationId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_type" property="createType"/>
        <result column="train_structure_id" property="trainStructureId"/>
        <result column="handle_status" property="handleStatus"/>
        <result column="handle_order_id" property="handleOrderId"/>
        <result column="out_supplier_id" property="outSupplierId"/>
        <result column="form_value_id" property="formValueId"/>
        <result column="plan_id" property="planId"/>
        <result column="company_id" property="companyId"/>
        <result column="workshop_id" property="workshopId"/>
        <result column="track_message" property="trackMessage"/>
        <result column="from_type" property="fromType"/>
    </resultMap>

    <!-- 通用查询映射结果_Collection -->
    <resultMap id="BaseResultMap_Collection" type="org.jeecg.modules.third.jdx.bean.BuFaultInfo">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="fault_code_id" property="faultCodeId"/>
        <result column="fault_sn" property="faultSn"/>
        <result column="fault_desc" property="faultDesc"/>
        <result column="sys_id" property="sysId"/>
        <result column="sub_sys_id" property="subSysId"/>
        <result column="fault_asset_id" property="faultAssetId"/>
        <result column="happen_time" property="happenTime"/>
        <result column="work_order_id" property="workOrderId"/>
        <result column="order_task_id" property="orderTaskId"/>
        <result column="line_id" property="lineId"/>
        <result column="train_no" property="trainNo"/>
        <result column="phase" property="phase"/>
        <result column="fault_level" property="faultLevel"/>
        <result column="f_online" property="faultOnline"/>
        <result column="has_duty" property="hasDuty"/>
        <result column="outsource" property="outsource"/>
        <result column="report_group_id" property="reportGroupId"/>
        <result column="report_user_id" property="reportUserId"/>
        <result column="report_time" property="reportTime"/>
        <result column="duty_engineer" property="dutyEngineer"/>
        <result column="status" property="status"/>
        <result column="close_user_id" property="closeUserId"/>
        <result column="close_time" property="closeTime"/>
        <result column="submit_status" property="submitStatus"/>
        <result column="work_station_id" property="workStationId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_type" property="createType"/>
        <result column="train_structure_id" property="trainStructureId"/>
        <result column="handle_status" property="handleStatus"/>
        <result column="handle_order_id" property="handleOrderId"/>
        <result column="categoryCodeDes" property="categoryCodeDes"/>
        <result column="faultCodeCodeDes" property="faultCodeCodeDes"/>
        <result column="out_supplier_id" property="outSupplierId"/>
        <result column="form_value_id" property="formValueId"/>
        <result column="plan_id" property="planId"/>
        <result column="company_id" property="companyId"/>
        <result column="workshop_id" property="workshopId"/>
        <result column="track_message" property="trackMessage"/>
        <result column="from_type" property="fromType"/>
        <result column="outSupplierName" property="outSupplierName"/>
        <collection property="handleRecordList" column="id"
                    ofType="org.jeecg.modules.third.jdx.bean.BuFaultHandleRecord"
                    select="selectHandleRecordListByFaultId"/>
    </resultMap>
    <select id="selectHandleRecordListByFaultId" resultType="org.jeecg.modules.third.jdx.bean.BuFaultHandleRecord">
        SELECT t1.*,
               t2.group_name    AS solutionGroupName,
               t3.realname      AS solutionUserName,
               t4.reason_code   AS faultReasonCode,
               t5.solution_code AS faultSolutionCode
        FROM bu_fault_handle_record t1
                 LEFT JOIN bu_mtr_workshop_group t2 ON t2.id = t1.solution_group_id
                 LEFT JOIN sys_user t3 ON t3.id = t1.solution_user_id
                 LEFT JOIN bu_fault_reason t4 ON t4.id = t1.fault_reason_id
                 LEFT JOIN bu_fault_solution t5 ON t5.id = t1.fault_solution_id
        WHERE t1.fault_info_id = #{id}
        ORDER BY t1.solution_time DESC
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category_id, fault_code_id, fault_sn, fault_desc, sys_id, sub_sys_id, fault_asset_id, happen_time,
        work_order_id, order_task_id, line_id, train_no, phase, fault_level, f_online, has_duty, outsource, report_group_id,
        report_user_id, report_time, duty_engineer, status, close_user_id, close_time, submit_status, work_station_id,
        create_time, create_by, update_time, update_by, create_type, train_structure_id, handle_status, handle_order_id,
        out_supplier_id, form_value_id, plan_id, company_id, workshop_id, track_message, from_type
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.categoryId, jdbcType=VARCHAR},
            #{item.faultCodeId, jdbcType=VARCHAR},
            #{item.faultSn, jdbcType=VARCHAR},
            #{item.faultDesc, jdbcType=VARCHAR},
            #{item.sysId, jdbcType=VARCHAR},
            #{item.subSysId, jdbcType=VARCHAR},
            #{item.faultAssetId, jdbcType=VARCHAR},
            #{item.happenTime, jdbcType=TIMESTAMP},
            #{item.workOrderId, jdbcType=VARCHAR},
            #{item.orderTaskId, jdbcType=VARCHAR},
            #{item.lineId, jdbcType=VARCHAR},
            #{item.trainNo, jdbcType=VARCHAR},
            #{item.phase, jdbcType=INTEGER},
            #{item.faultLevel, jdbcType=INTEGER},
            #{item.faultOnline, jdbcType=INTEGER},
            #{item.hasDuty, jdbcType=INTEGER},
            #{item.outsource, jdbcType=INTEGER},
            #{item.reportGroupId, jdbcType=VARCHAR},
            #{item.reportUserId, jdbcType=VARCHAR},
            #{item.reportTime, jdbcType=TIMESTAMP},
            #{item.dutyEngineer, jdbcType=VARCHAR},
            #{item.status, jdbcType=INTEGER},
            #{item.closeUserId, jdbcType=VARCHAR},
            #{item.closeTime, jdbcType=TIMESTAMP},
            #{item.submitStatus, jdbcType=INTEGER},
            #{item.workStationId, jdbcType=VARCHAR},
            #{item.createTime, jdbcType=TIMESTAMP},
            #{item.createBy, jdbcType=VARCHAR},
            #{item.updateTime, jdbcType=TIMESTAMP},
            #{item.updateBy, jdbcType=VARCHAR},
            #{item.createType, jdbcType=INTEGER},
            #{item.trainStructureId, jdbcType=VARCHAR},
            #{item.handleStatus, jdbcType=INTEGER},
            #{item.handleOrderId, jdbcType=VARCHAR},
            #{item.outSupplierId, jdbcType=VARCHAR},
            #{item.formValueId, jdbcType=VARCHAR},
            #{item.planId, jdbcType=VARCHAR},
            #{item.companyId, jdbcType=VARCHAR},
            #{item.workshopId, jdbcType=VARCHAR},
            #{item.trackMessage, jdbcType=VARCHAR},
            #{item.fromType, jdbcType=INTEGER},
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        <if test="list != null and list.size > 0">
            INSERT INTO bu_fault_info
            (
            <include refid="Base_Column_List"/>
            )
            <foreach collection="list" item="item" index="index" separator="union all">
                (
                select
                <include refid="insertValueItems"/>
                from dual
                )
            </foreach>
        </if>
    </insert>


    <select id="selectListByDate" resultMap="BaseResultMap_Collection">
        SELECT t.*,
               t1.line_name,
               t1.line_num,
               t2.name       AS sysName,
               t5.name       as trainStructureName,
               t3.asset_name AS faultAssetName,
               t4.group_name AS reportGroupName,
               t6.realname   as reportUserName,
               t6.work_no    as reportUserWorkNo,
               t6.phone      as reportUserPhone,
               t7.realname   as dutyEngineerName
        FROM bu_fault_info t
                 LEFT JOIN bu_mtr_line t1 ON t1.line_id = t.line_id
                 LEFT JOIN bu_train_asset_type t2 ON t2.id = t.sys_id
                 LEFT JOIN bu_train_asset t3 ON t3.id = t.fault_asset_id
                 LEFT JOIN bu_mtr_workshop_group t4 ON t4.id = t.report_group_id
                 LEFT JOIN bu_train_structure_detail t5 ON t5.id = t3.struct_detail_id
                 left join sys_user t6 on t6.id = t.report_user_id
                 left join sys_user t7 on t7.id = t.duty_engineer
        WHERE t.report_time &gt;= #{date}
        ORDER BY t.report_time DESC
    </select>

    <select id="selectFaultById" resultMap="BaseResultMap_Collection">
        SELECT t.*,
               t1.line_name,
               t1.line_num,
               t2.name       AS sysName,
               t5.name       as trainStructureName,
               t3.asset_name AS faultAssetName,
               t4.group_name AS reportGroupName,
               t6.realname   as reportUserName,
               t6.work_no    as reportUserWorkNo,
               t6.phone      as reportUserPhone,
               t7.realname   as dutyEngineerName
        FROM bu_fault_info t
                 LEFT JOIN bu_mtr_line t1 ON t1.line_id = t.line_id
                 LEFT JOIN bu_train_asset_type t2 ON t2.id = t.sys_id
                 LEFT JOIN bu_train_asset t3 ON t3.id = t.fault_asset_id
                 LEFT JOIN bu_mtr_workshop_group t4 ON t4.id = t.report_group_id
                 LEFT JOIN bu_train_structure_detail t5 ON t5.id = t3.struct_detail_id
                 left join sys_user t6 on t6.id = t.report_user_id
                 left join sys_user t7 on t7.id = t.duty_engineer
        WHERE t.id = #{faultId}
    </select>

</mapper>
