<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.third.jdx.mapper.BuFaultCategoryThirdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.third.jdx.bean.BuFaultCategory">
        <id column="id" property="id"/>
        <result column="category_code" property="categoryCode"/>
        <result column="category_desc" property="categoryDesc"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category_code, category_desc
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.categoryCode, jdbcType=VARCHAR},
            #{item.categoryDesc, jdbcType=VARCHAR}
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO bu_fault_category
        (
        <include refid="Base_Column_List"/>
        )
        <foreach collection="list" item="item" index="index" separator="union all">
            (
            select
            <include refid="insertValueItems"/>
            from dual
            )
        </foreach>
    </insert>

    <update id="updateList" parameterType="list">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update bu_fault_category
            <set>
                category_desc = #{item.categoryDesc, jdbcType=VARCHAR}
            </set>
            where id = #{item.id, jdbcType=VARCHAR}
        </foreach>
    </update>

</mapper>
