<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.third.jdx.mapper.BuFaultCodeNewThirdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.third.jdx.bean.BuFaultCodeNew">
        <id column="id" property="id" />
        <result column="flt_code" property="fltCode" />
        <result column="flt_name" property="fltName" />
        <result column="flt_level" property="fltLevel" />
        <result column="parent_code" property="parentCode" />
        <result column="flt_major_code" property="fltMajorCode" />
        <result column="flt_major_name" property="fltMajorName" />
        <result column="self_create" property="selfCreate" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, flt_code, flt_name, flt_level, parent_code, flt_major_code, flt_major_name, self_create, create_time, create_by, update_time, update_by
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.fltCode, jdbcType=VARCHAR},
            #{item.fltName, jdbcType=VARCHAR},
            #{item.fltLevel, jdbcType=NUMERIC},
            #{item.parentCode, jdbcType=VARCHAR},
            #{item.fltMajorCode, jdbcType=VARCHAR},
            #{item.fltMajorName, jdbcType=VARCHAR},
            #{item.selfCreate, jdbcType=NUMERIC},
            #{item.createTime, jdbcType=TIMESTAMP},
            #{item.createBy, jdbcType=VARCHAR},
            #{item.updateTime, jdbcType=TIMESTAMP},
            #{item.updateBy, jdbcType=VARCHAR},
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO bu_fault_code_new
        (
        <include refid="Base_Column_List"/>
        )
        <foreach collection="list" item="item" index="index" separator="union all">
            (
            select
            <include refid="insertValueItems"/>
            from dual
            )
        </foreach>
    </insert>

    <update id="updateList" parameterType="list">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update bu_fault_code_new
            <set>
                flt_name = #{item.fltName, jdbcType=VARCHAR},
                flt_level = #{item.fltLevel, jdbcType=NUMERIC},
                parent_code = #{item.parentCode, jdbcType=VARCHAR},
                flt_major_code = #{item.fltMajorCode, jdbcType=VARCHAR},
                flt_major_name = #{item.fltMajorName, jdbcType=VARCHAR},
                self_create = #{item.selfCreate, jdbcType=NUMERIC},
                create_time = #{item.createTime, jdbcType=TIMESTAMP},
                create_by = #{item.createBy, jdbcType=VARCHAR},
                update_time = #{item.updateTime, jdbcType=TIMESTAMP},
                update_by = #{item.updateBy, jdbcType=VARCHAR},
            </set>
            where id = #{item.id, jdbcType=VARCHAR}
        </foreach>
    </update>

</mapper>
