<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.third.jdx.mapper.BuFaultReasonThirdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.third.jdx.bean.BuFaultReason">
        <id column="id" property="id"/>
        <result column="reason_code" property="reasonCode"/>
        <result column="reason_desc" property="reasonDesc"/>
        <result column="category_id" property="categoryId"/>
        <result column="fault_code_id" property="faultCodeId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, reason_code, reason_desc, category_id, fault_code_id
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.reasonCode, jdbcType=VARCHAR},
            #{item.reasonDesc, jdbcType=VARCHAR},
            #{item.categoryId, jdbcType=VARCHAR},
            #{item.faultCodeId, jdbcType=VARCHAR}
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO bu_fault_reason
        (
        <include refid="Base_Column_List"/>
        )
        <foreach collection="list" item="item" index="index" separator="union all">
            (
            select
            <include refid="insertValueItems"/>
            from dual
            )
        </foreach>
    </insert>

    <update id="updateList" parameterType="list">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update bu_fault_reason
            <set>
                reason_desc = #{item.reasonDesc, jdbcType=VARCHAR},
                category_id = #{item.categoryId, jdbcType=VARCHAR},
                fault_code_id = #{item.faultCodeId, jdbcType=VARCHAR}
            </set>
            where id = #{item.id, jdbcType=VARCHAR}
        </foreach>
    </update>

</mapper>
