<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.third.jdx.mapper.BuMaterialAssignDetailThirdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.third.jdx.bean.BuMaterialAssignDetail">
        <id column="id" property="id"/>
        <result column="apply_detail_id" property="applyDetailId"/>
        <result column="material_type_id" property="materialTypeId"/>
        <result column="location_wbs" property="locationWbs"/>
        <result column="location_name" property="locationName"/>
        <result column="pallet_id" property="palletId"/>
        <result column="amount" property="amount"/>
        <result column="ebs_wh_code" property="ebsWhCode"/>
        <result column="ebs_wh_child_code" property="ebsWhChildCode"/>
        <result column="trade_no" property="tradeNo"/>
        <result column="price" property="price"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, apply_detail_id, material_type_id, location_wbs, location_name, pallet_id, amount,
        ebs_wh_code, ebs_wh_child_code, trade_no, price
    </sql>


    <update id="updateApplySyncTime">
        <if test="list != null and list.size > 0">
            <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
                update bu_material_apply
                set sync_time = #{item.syncTime, jdbcType=TIMESTAMP}
                where id = #{item.applyId, jdbcType=VARCHAR}
            </foreach>
        </if>
    </update>

    <update id="updateApplySyncResult">
        <if test="list != null and list.size > 0">
            <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
                update bu_material_apply
                set
                sync_result = #{item.syncResult, jdbcType=VARCHAR},
                sync_result_time = #{item.syncResultTime, jdbcType=TIMESTAMP}
                where id = #{item.applyId, jdbcType=VARCHAR}
            </foreach>
        </if>
    </update>

    <select id="selectListByApplyDetailId" resultType="org.jeecg.modules.third.jdx.bean.BuMaterialAssignDetail">
        SELECT t.*,
               t8.code               as locationCode,
               t5.category1,
               t3.train_no,
               t3.order_code,
               t5.code               as materialCode,
               t5.name               as materialName,
               t5.spec               as materialSpec,
               NVL(t1.unit_price, 0) as materialUnitPrice,
               t1.confirm_time,
               t3.line_id,
               t7.depot_id,
               t4.id                 AS workshopId,
               t4.name               as workshopName,
               t6.id                 AS trainid,
               t7.repair_program_id  AS programId,
               t3.fd_project,
               t3.fd_task,
               t3.fd_cost_type
        FROM bu_material_assign_detail t
                 left join bu_material_apply_detail t1 on t1.id = t.apply_detail_id
                 left join bu_material_apply t2 on t2.id = t1.apply_id
                 LEFT JOIN bu_work_order t3 ON t3.id = t2.work_order_id
                 LEFT JOIN bu_mtr_workshop t4 ON t4.id = t3.workshop_id
                 LEFT JOIN bu_material_type t5 ON t5.id = t.material_type_id
                 LEFT JOIN bu_train_info t6 on t6.train_no = t3.train_no
                 LEFT JOIN bu_repair_plan t7 on t7.id = t3.plan_id
                 LEFT JOIN bu_mtr_warehouse t8 on t8.wbs = t.location_wbs
        where t.apply_detail_id = #{applyDetailId}
    </select>

    <select id="selectMaterialConsumedListByDate" resultType="org.jeecg.modules.third.jdx.bean.BuMaterialAssignDetail">
        SELECT t.*,
               t8.code              as locationCode,
               t5.category1,
               t3.train_no,
               t3.order_code,
               t5.code              as materialCode,
               t5.name              as materialName,
               t5.spec              as materialSpec,
               NVL(t5.price, 0)     as materialUnitPrice,
               t1.confirm_time,
               t3.line_id,
               t7.depot_id,
               t4.id                AS workshopId,
               t4.name              as workshopName,
               t6.id                AS trainid,
               t7.repair_program_id AS programId,
               t3.fd_project,
               t3.fd_task,
               t3.fd_cost_type
        FROM bu_material_assign_detail t
                 left join bu_material_apply_detail t1 on t1.id = t.apply_detail_id
                 left join bu_material_apply t2 on t2.id = t1.apply_id
                 LEFT JOIN bu_work_order t3 ON t3.id = t2.work_order_id
                 LEFT JOIN bu_mtr_workshop t4 ON t4.id = t3.workshop_id
                 LEFT JOIN bu_material_type t5 ON t5.id = t.material_type_id
                 LEFT JOIN bu_train_info t6 on t6.train_no = t3.train_no
                 LEFT JOIN bu_repair_plan t7 on t7.id = t3.plan_id
                 LEFT JOIN bu_mtr_warehouse t8 on t8.wbs = t.location_wbs
        where t1.status != 0
          AND t.amount &gt; 0
          AND t1.confirm_time &gt;= #{date}
        ORDER BY t1.confirm_time DESC
    </select>

    <select id="selectApplyIdListByAssignDetailIdList" resultType="java.lang.String">
        select distinct apply_id
        from bu_material_apply_detail
        where id in (
        select apply_detail_id
        from bu_material_assign_detail
        where id
        <choose>
            <when test="assignDetailIdList != null and assignDetailIdList.size > 0">
                in
                <foreach collection="assignDetailIdList" item="assignDetailId" open="(" separator="," close=")">
                    #{assignDetailId}
                </foreach>
            </when>
            <otherwise>
                = '-1'
            </otherwise>
        </choose>
        )
    </select>

    <select id="selectListByApplyIdList" resultType="org.jeecg.modules.third.jdx.bean.BuMaterialAssignDetail">
        select t.*,
        t1.apply_id,
        t2.trans_id,
        t2.trans_time,
        t2.success_status,
        t2.success_time,
        t2.message
        from bu_material_assign_detail t
        left join bu_material_apply_detail t1 on t1.id = t.apply_detail_id
        left join bu_maximo_trans_data t2 on t2.obj_id = t.id
        where t1.apply_id
        <choose>
            <when test="applyIdList != null and applyIdList.size > 0">
                in
                <foreach collection="applyIdList" item="applyId" open="(" separator="," close=")">
                    #{applyId}
                </foreach>
            </when>
            <otherwise>
                = '-1'
            </otherwise>
        </choose>
    </select>

</mapper>
