<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.third.jdx.mapper.BuMaterialEntryDetailThirdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.third.jdx.bean.BuMaterialEntryDetail">
        <id column="id" property="id"/>
        <result column="entry_order_id" property="entryOrderId"/>
        <result column="ebs_warehouse_id" property="ebsWarehouseId"/>
        <result column="ebs_warehouse_levl_2" property="ebsWarehouseLevl2"/>
        <result column="self_warehouse_id" property="selfWarehouseId"/>
        <result column="material_type_id" property="materialTypeId"/>
        <result column="amount" property="amount"/>
        <result column="price" property="price"/>
        <result column="entry_user_id" property="entryUserId"/>
        <result column="entry_date" property="entryDate"/>
        <result column="leave_factory" property="leaveFactory"/>
        <result column="production_date" property="productionDate"/>
        <result column="expir_day" property="expirDay"/>
        <result column="expir_date" property="expirDate"/>
        <result column="confirm" property="confirm"/>
        <result column="entry_class" property="entryClass"/>
        <result column="confirm_amount" property="confirmAmount"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, entry_order_id, ebs_warehouse_id, ebs_warehouse_levl_2, self_warehouse_id, material_type_id,
        amount, price, entry_user_id, entry_date, leave_factory, production_date, expir_day, expir_date,
        confirm, entry_class, confirm_amount, create_time, create_by, update_time, update_by, confirm_user_id
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.entryOrderId, jdbcType=VARCHAR},
            #{item.ebsWarehouseId, jdbcType=VARCHAR},
            #{item.ebsWarehouseLevl2, jdbcType=VARCHAR},
            #{item.selfWarehouseId, jdbcType=VARCHAR},
            #{item.materialTypeId, jdbcType=VARCHAR},
            #{item.amount, jdbcType=DECIMAL},
            #{item.price, jdbcType=DECIMAL},
            #{item.entryUserId, jdbcType=VARCHAR},
            #{item.entryDate, jdbcType=DATE},
            #{item.leaveFactory, jdbcType=DATE},
            #{item.productionDate, jdbcType=DATE},
            #{item.expirDay, jdbcType=INTEGER},
            #{item.expirDate, jdbcType=DATE},
            #{item.confirm, jdbcType=INTEGER},
            #{item.entryClass, jdbcType=INTEGER},
            #{item.confirmAmount, jdbcType=DOUBLE},
            #{item.createTime, jdbcType=TIMESTAMP},
            #{item.createBy, jdbcType=VARCHAR},
            #{item.updateTime, jdbcType=TIMESTAMP},
            #{item.updateBy, jdbcType=VARCHAR},
            #{item.confirmUserId, jdbcType=VARCHAR}
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        <if test="list != null and list.size > 0">
            INSERT INTO bu_material_entry_detail
            (
            <include refid="Base_Column_List"/>
            )
           <foreach collection="list" item="item" index="index" separator="union all">
                (
                select
                <include refid="insertValueItems"/>
                from dual
                )
            </foreach>
        </if>
    </insert>

</mapper>
