<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.third.jdx.mapper.BuRptMaterialUseRecordThirdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.third.jdx.bean.BuRptMaterialUseRecord">
        <id column="id" property="id"/>
        <result column="archive_type" property="archiveType"/>
        <result column="work_order_id" property="workOrderId"/>
        <result column="work_order_name" property="workOrderName"/>
        <result column="order_task_id" property="orderTaskId"/>
        <result column="order_task_name" property="orderTaskName"/>
        <result column="material_type_id" property="materialTypeId"/>
        <result column="material_type_name" property="materialTypeName"/>
        <result column="material_type_code" property="materialTypeCode"/>
        <result column="material_type_model" property="materialTypeModel"/>
        <result column="material_desc" property="materialDesc"/>
        <result column="unit" property="unit"/>
        <result column="kind" property="kind"/>
        <result column="category1" property="category1"/>
        <result column="category2" property="category2"/>
        <result column="amount" property="amount"/>
        <result column="unit_price" property="unitPrice"/>
        <result column="total_price" property="totalPrice"/>
        <result column="use_date" property="useDate"/>
        <result column="asset_code" property="assetCode"/>
        <result column="depot_id" property="depotId"/>
        <result column="depot_name" property="depotName"/>
        <result column="workshop_id" property="workshopId"/>
        <result column="workshop_name" property="workshopName"/>
        <result column="line_id" property="lineId"/>
        <result column="line_name" property="lineName"/>
        <result column="train_id" property="trainId"/>
        <result column="train_name" property="trainName"/>
        <result column="tsystem_id" property="tsystemId"/>
        <result column="system_name" property="systemName"/>
        <result column="period_id" property="periodId"/>
        <result column="group_id" property="groupId"/>
        <result column="group_name" property="groupName"/>
        <result column="monitor" property="monitor"/>
        <result column="monitor_name" property="monitorName"/>
        <result column="station_id" property="stationId"/>
        <result column="station_no" property="stationNo"/>
        <result column="station_name" property="stationName"/>
        <result column="use_category" property="useCategory"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, archive_type, work_order_id, work_order_name, order_task_id, order_task_name, material_type_id,
        material_type_name, material_type_code, material_type_model, material_desc, unit, kind, category1,
        category2, amount, unit_price, total_price, use_date, asset_code, depot_id, depot_name, workshop_id,
        workshop_name, line_id, line_name, train_id, train_name, tsystem_id, system_name, period_id, group_id,
        group_name, monitor, monitor_name, station_id, station_no, station_name, use_category, remark
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.archiveType, jdbcType=INTEGER},
            #{item.workOrderId, jdbcType=VARCHAR},
            #{item.workOrderName, jdbcType=VARCHAR},
            #{item.orderTaskId, jdbcType=VARCHAR},
            #{item.orderTaskName, jdbcType=VARCHAR},
            #{item.materialTypeId, jdbcType=VARCHAR},
            #{item.materialTypeName, jdbcType=VARCHAR},
            #{item.materialTypeCode, jdbcType=VARCHAR},
            #{item.materialTypeModel, jdbcType=VARCHAR},
            #{item.materialDesc, jdbcType=VARCHAR},
            #{item.unit, jdbcType=VARCHAR},
            #{item.kind, jdbcType=INTEGER},
            #{item.category1, jdbcType=VARCHAR},
            #{item.category2, jdbcType=VARCHAR},
            #{item.amount, jdbcType=DECIMAL},
            #{item.unitPrice, jdbcType=DECIMAL},
            #{item.totalPrice, jdbcType=VARCHAR},
            #{item.useDate, jdbcType=DATE},
            #{item.assetCode, jdbcType=VARCHAR},
            #{item.depotId, jdbcType=VARCHAR},
            #{item.depotName, jdbcType=VARCHAR},
            #{item.workshopId, jdbcType=VARCHAR},
            #{item.workshopName, jdbcType=VARCHAR},
            #{item.lineId, jdbcType=VARCHAR},
            #{item.lineName, jdbcType=VARCHAR},
            #{item.trainId, jdbcType=VARCHAR},
            #{item.trainName, jdbcType=VARCHAR},
            #{item.tsystemId, jdbcType=VARCHAR},
            #{item.systemName, jdbcType=VARCHAR},
            #{item.periodId, jdbcType=VARCHAR},
            #{item.groupId, jdbcType=VARCHAR},
            #{item.groupName, jdbcType=VARCHAR},
            #{item.monitor, jdbcType=VARCHAR},
            #{item.monitorName, jdbcType=VARCHAR},
            #{item.stationId, jdbcType=VARCHAR},
            #{item.stationNo, jdbcType=VARCHAR},
            #{item.stationName, jdbcType=VARCHAR},
            #{item.useCategory, jdbcType=INTEGER},
            #{item.remark, jdbcType=VARCHAR}
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        <if test="list != null and list.size > 0">
            INSERT INTO bu_rpt_material_use_record
            (
            <include refid="Base_Column_List"/>
            )
           <foreach collection="list" item="item" index="index" separator="union all">
                (
                select
                <include refid="insertValueItems"/>
                from dual
                )
            </foreach>
        </if>
    </insert>

</mapper>
