<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.quality.recordconfirm.mapper.BuPlanFormWorkRecordQualityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.quality.recordconfirm.bean.BuPlanFormWorkRecord">
        <id column="id" property="id"/>
        <result column="plan_id" property="planId"/>
        <result column="plan_form_id" property="planFormId"/>
        <result column="form_obj_id" property="formObjId"/>
        <result column="train_no" property="trainNo"/>
        <result column="asset_type_id" property="assetTypeId"/>
        <result column="struct_detail_id" property="structDetailId"/>
        <result column="train_asset_id" property="trainAssetId"/>
        <result column="manuf_no" property="manufNo"/>
        <result column="train_asset_id_up" property="trainAssetIdUp"/>
        <result column="manuf_no_up" property="manufNoUp"/>
        <result column="form_index" property="formIndex"/>
        <result column="status" property="status"/>
        <result column="work_date" property="workDate"/>
        <result column="finish_date" property="finishDate"/>
        <result column="work_group_id" property="workGroupId"/>
        <result column="remark" property="remark"/>
        <result column="check_result" property="checkResult"/>
        <result column="check_date" property="checkDate"/>
        <result column="check_user_id" property="checkUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <resultMap id="ResultMap_BuPlanFormWorkRecord_Detail_Check_Tool"
               type="org.jeecg.modules.quality.recordconfirm.bean.BuPlanFormWorkRecord">
        <id column="id" property="id"/>
        <result column="plan_id" property="planId"/>
        <result column="plan_form_id" property="planFormId"/>
        <result column="form_obj_id" property="formObjId"/>
        <result column="train_no" property="trainNo"/>
        <result column="asset_type_id" property="assetTypeId"/>
        <result column="struct_detail_id" property="structDetailId"/>
        <result column="train_asset_id" property="trainAssetId"/>
        <result column="manuf_no" property="manufNo"/>
        <result column="train_asset_id_up" property="trainAssetIdUp"/>
        <result column="manuf_no_up" property="manufNoUp"/>
        <result column="form_index" property="formIndex"/>
        <result column="status" property="status"/>
        <result column="work_date" property="workDate"/>
        <result column="finish_date" property="finishDate"/>
        <result column="work_group_id" property="workGroupId"/>
        <result column="remark" property="remark"/>
        <result column="check_result" property="checkResult"/>
        <result column="check_date" property="checkDate"/>
        <result column="check_user_id" property="checkUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <collection property="detailList" column="id"
                    ofType="org.jeecg.modules.quality.recordconfirm.bean.BuPlanFormWorkRecordDetail"
                    select="selectWorkRecordDetailListWithCheck"/>
        <collection property="measureToolList" column="id"
                    ofType="org.jeecg.modules.quality.recordconfirm.bean.BuWorkOrderTool"
                    select="selectWorkRecordMeasureToolList"/>
    </resultMap>
    <select id="selectWorkRecordDetailListWithCheck" resultMap="ResultMap_BuPlanFormWorkRecordDetail_Check">
        select t.*,
               ifnull(t1.category_id, '') as categoryId,
               t2.rec_index,
               t2.regu_title,
               t1.item_no,
               t1.check_level,
               t1.tech_require,
               t1.work_content
        from bu_pl_work_record_detail t
                 left join bu_work_record_detail t1 on t1.id = t.work_rec_detail_id
                 left join bu_work_record_category t2 on t2.id = t1.category_id
        where t.work_record_id = #{id}
        order by t2.rec_index, t1.item_no
    </select>
    <select id="selectWorkRecordMeasureToolList"
            resultType="org.jeecg.modules.quality.recordconfirm.bean.BuWorkOrderTool">
        select t.*,
               t3.tool_type,
               t3.code,
               t3.asset_code,
               t3.serial_no,
               t3.name,
               t3.model,
               t3.status,
               t3.service_interval,
               t3.last_check_time,
               t3.next_check_time,
               t3.remark,
               t1.unit,
               t1.category1,
               t1.category2
        from bu_work_order_tool t
                 left join bu_material_type t1 on t1.id = t.tool_type_id
                 left join bu_material_tools t3 on t3.id = t.tool_id
        where t.work_record_inst_id = #{id}
          and t3.tool_type = 6
        order by t3.code
    </select>


    <resultMap id="ResultMap_BuPlanFormWorkRecordDetail_Check"
               type="org.jeecg.modules.quality.recordconfirm.bean.BuPlanFormWorkRecordDetail">
        <id column="id" property="id"/>
        <result column="work_record_id" property="workRecordId"/>
        <result column="work_rec_detail_id" property="workRecDetailId"/>
        <result column="regu_detail_id" property="reguDetailId"/>
        <result column="work_info" property="workInfo"/>
        <result column="result" property="result"/>
        <result column="is_ignore" property="isIgnore"/>
        <result column="ignore_desc" property="ignoreDesc"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <collection property="checksList" column="id"
                    ofType="org.jeecg.modules.quality.recordconfirm.bean.BuPlanFormWorkRecordChecks"
                    select="selectWorkRecordChecksList"/>
    </resultMap>
    <select id="selectWorkRecordChecksList"
            resultType="org.jeecg.modules.quality.recordconfirm.bean.BuPlanFormWorkRecordChecks">
        select t.*,
               t1.realname as checkUserName
        from bu_pl_work_record_result t
                 left join sys_user t1 on t1.id = t.check_user_id
        where t.record_detail_id = #{id}
        order by t.check_time
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, plan_id, plan_form_id, form_obj_id, train_no, asset_type_id, struct_detail_id, train_asset_id,
        manuf_no, train_asset_id_up, manuf_no_up, form_index, status, work_date, finish_date, work_group_id,
        remark, check_result, check_date, check_user_id, create_time, create_by, update_time, update_by,
        title, work_record_type
    </sql>


    <select id="selectFormWorkRecordById" resultMap="ResultMap_BuPlanFormWorkRecord_Detail_Check_Tool">
        select t.*,
               t1.updown,
               t1.title      as workRecName,
               t2.name       as assetTypeName,
               t3.name       as structDetailName,
               t4.asset_name as trainAssetName,
               t5.asset_name as trainAssetNameUp,
               t6.realname   as checkUserName,
               t7.group_name as workGroupName
        from bu_pl_work_record t
                 left join bu_work_record t1 on t1.id = t.form_obj_id
                 left join bu_train_asset_type t2 on t2.id = t.asset_type_id
                 left join bu_train_structure_detail t3 on t3.id = t.struct_detail_id
                 left join bu_train_asset t4 on t4.id = t.train_asset_id
                 left join bu_train_asset t5 on t5.id = t.train_asset_id_up
                 left join sys_user t6 on t6.id = t.check_user_id
                 left join bu_mtr_workshop_group t7 on t7.id = t.work_group_id
        where t.id = #{recordId}
    </select>

    <select id="selectFormWorkAndDataRecordVOPageByFormRecordQueryVO"
            resultType="org.jeecg.modules.quality.recordconfirm.bean.vo.BuFormInstanceVO">
        select temp.*,
        t2.train_no,
        t1.work_order_id as orderId,
        t2.order_code,
        t2.order_name,
        t2.start_time as orderTime,
        t3.plan_name,
        t2.line_id,
        t4.line_name,
        t3.repair_program_id,
        t5.name as repairProgramName,
        t6.name as assetTypeName,
        (case when t10.id is not null then t10.name else t7.name end) as trainStructName,
        (case when t10.id is not null then t10.wbs else t7.wbs end) as trainStructWbs,
        t8.asset_name,
        t1.id as task2InstId,
        t9.name as reguName,
        t9.version as reguVersion
        from (
        (
        select
        a.id,
        a2.code,
        IFNULL(a.title, IFNULL(a1.title, a2.name)) as title,
        a.plan_form_id,
        a.form_obj_id,
        a1.form_type,
        0 as workRecordType,
        a.asset_type_id,
        a.struct_detail_id as trainStructId,
        a.train_asset_id as assetId,
        a.status,
        a.form_index,
        a1.remark,
        a2.regu_id as reguId
        from bu_pl_data_record a
        left join bu_repair_plan_forms a1 on a1.id = a.plan_form_id
        left join bu_base_form_template a2 on a2.id = a.form_obj_id
        )
        union all
        (
        select
        a.id,
        (case a.work_record_type when 1 then a3.code when 2 then a2.code else '' end) as code,
        IFNULL(a.title, IFNULL(a1.title, (case a.work_record_type when 1 then a3.title when 2 then a2.name else '' end))) as
        title,
        a.plan_form_id,
        a.form_obj_id,
        a1.form_type,
        a.work_record_type,
        a.asset_type_id,
        a.struct_detail_id as trainStructId,
        a.train_asset_id as assetId,
        a.status,
        a.form_index,
        a1.remark,
        a2.regu_id as reguId
        from bu_pl_work_record a
        left join bu_repair_plan_forms a1 on a1.id = a.plan_form_id
        left join bu_base_form_template a2 on a2.id = a.form_obj_id
        left join bu_work_record a3 on a3.id = a.form_obj_id
        )
        union all
        (
        select
        a.id,
        a2.code,
        IFNULL(a.title, IFNULL(a1.title, a2.title)) as title,
        a.plan_form_id,
        a.form_obj_id,
        a1.form_type,
        0 as workRecordType,
        a.asset_type_id,
        a.asset_struct_id as trainStructId,
        a.asset_id as assetId,
        a.status,
        a.form_index,
        a1.remark,
        null as reguId
        from bu_pl_check_record a
        left join bu_repair_plan_forms a1 on a1.id = a.plan_form_id
        left join bu_work_check a2 on a2.id = a.form_obj_id
        )
        ) temp
        left join bu_work_order_task_form_inst t1 on t1.form_inst_id = temp.id
        left join bu_work_order t2 on t2.id = t1.work_order_id
        left join bu_repair_plan t3 on t3.id = t2.plan_id
        left join bu_mtr_line t4 on t4.line_id = t2.line_id
        left join bu_repair_program t5 on t5.id = t3.repair_program_id
        left join bu_train_asset_type t6 on t6.id = temp.asset_type_id
        left join bu_train_structure_detail t7 on t7.id = temp.trainStructId
        left join bu_train_asset t8 on t8.id = temp.assetId
        left join bu_repair_regu_info t9 on t9.id = temp.reguId
        left join bu_maximo_train_asset t10 on t10.id = temp.trainStructId
        where t1.id is not null and t2.id is not null
        <if test="queryVO.trainNo != null and queryVO.trainNo != ''">
            and t2.train_no = #{queryVO.trainNo}
        </if>
        <if test="queryVO.lineId != null and queryVO.lineId != ''">
            and t2.line_id = #{queryVO.lineId}
        </if>
        <if test="queryVO.repairProgramId != null and queryVO.repairProgramId != ''">
            and t3.repair_program_id = #{queryVO.repairProgramId}
        </if>
        <if test="queryVO.startDate != null and queryVO.endDate != null">
            and (t2.start_time &gt;= #{queryVO.startDate} and t2.start_time &lt;= #{queryVO.endDate})
        </if>
        <if test="queryVO.formSearchText != null and queryVO.formSearchText != ''">
            and
            (
            temp.code like '%'||#{queryVO.formSearchText}||'%'
            or
            temp.title like '%'||#{queryVO.formSearchText}||'%'
            )
        </if>
        <if test="queryVO.formType != null and queryVO.formType != ''">
            and temp.form_type = #{queryVO.formType}
        </if>
        <if test="queryVO.planId != null and queryVO.planId != ''">
            and t2.plan_id = #{queryVO.planId}
        </if>
        <if test="queryVO.groupId != null and queryVO.groupId != ''">
            and t2.group_id = #{queryVO.groupId}
        </if>
        order by t3.start_date desc, t2.start_time desc, t2.order_code ,temp.form_type, temp.code, temp.title
    </select>

</mapper>
