<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.dispatch.workorder.mapper.BuMaterialGroupStockDispatchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.dispatch.workorder.bean.BuMaterialGroupStock">
        <id column="id" property="id"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="material_type_id" property="materialTypeId"/>
        <result column="amount" property="amount"/>
        <result column="price" property="price"/>
        <result column="apply_id" property="applyId"/>
        <result column="apply_detail_id" property="applyDetailId"/>
        <result column="group_id" property="groupId"/>
        <result column="assign_detail_id" property="assignDetailId"/>
        <result column="trade_no" property="tradeNo"/>
        <result column="system_id" property="systemId"/>
        <result column="workstation_id" property="workstationId"/>
        <result column="use_category" property="useCategory"/>
        <result column="train_no" property="trainNo"/>
        <result column="company_id" property="companyId"/>
        <result column="workshop_id" property="workshopId"/>
        <result column="line_id" property="lineId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, warehouse_id, material_type_id, amount, price, apply_id, apply_detail_id, group_id,
        assign_detail_id, trade_no, system_id, workstation_id, use_category, train_no, company_id, workshop_id, line_id
    </sql>


    <update id="updateListAmount">
        <if test="list != null and list.size > 0">
            <foreach collection="list" item="item" index="index" separator=";">
                update bu_material_group_stock
                set
                amount = #{item.amount}
                where id = #{item.id}
            </foreach>
        </if>
    </update>

</mapper>
