<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.group.partchange.mapper.BuWorkPartChangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.group.partchange.bean.BuWorkPartChange">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="line_id" property="lineId" />
        <result column="train_no" property="trainNo" />
        <result column="system_id" property="systemId" />
        <result column="asset_type_id" property="assetTypeId" />
        <result column="material_type_id" property="materialTypeId" />
        <result column="amount" property="amount" />
        <result column="group_id" property="groupId" />
        <result column="user_id" property="userId" />
        <result column="phase" property="phase" />
        <result column="down_sn" property="downSn" />
        <result column="up_sn" property="upSn" />
        <result column="change_date" property="changeDate" />
        <result column="reason" property="reason" />
        <result column="duty_user" property="dutyUser" />
        <result column="fault_id" property="faultId" />
        <result column="reason_desc" property="reasonDesc" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, line_id, train_no, system_id, asset_type_id, material_type_id, amount, group_id, user_id, phase, down_sn, up_sn, change_date, reason, duty_user, fault_id, reason_desc, create_time, create_by, update_time, update_by
    </sql>

    <!-- 根据条件分页查询部件更换 -->
    <select id="selectPageByCondition" resultType="org.jeecg.modules.group.partchange.bean.BuWorkPartChange">
        SELECT
        t1.*,
        t2.name AS materialTypeName,
        t3.name AS assetTypeName,
        t4.line_name AS lineName,
        t5.name AS systemName,
        t6.realname AS userName
        FROM bu_work_part_change t1
        LEFT JOIN bu_material_type t2 ON t2.id = t1.material_type_id
        LEFT JOIN bu_train_asset_type t3 ON t3.id = t1.asset_type_id
        LEFT JOIN bu_mtr_line t4 ON t4.line_id = t1.line_id
        LEFT JOIN bu_train_asset_type t5 ON t5.id = t1.system_id
        LEFT JOIN sys_user t6 ON t6.id = t1.user_id
        <where>
            <if test="queryVO.searchText != null and queryVO.searchText != ''">
                AND
                (
                t2.name LIKE  '%'||#{queryVO.searchText}||'%'
                OR
                t2.code LIKE  '%'||#{queryVO.searchText}||'%'
                )
            </if>
            <if test="queryVO.trainNo != null and queryVO.trainNo != ''">
                AND t1.train_no = #{queryVO.trainNo}
            </if>
            <if test="queryVO.systemId != null and queryVO.systemId != ''">
                AND t1.system_id = #{queryVO.systemId}
            </if>
            <if test="queryVO.changeDate != null">
                AND t1.change_date = #{queryVO.changeDate}
            </if>
        </where>
        ORDER BY t1.change_date
    </select>

    <!-- 根据id查询部件更换记录详情 -->
    <select id="selectById" resultType="org.jeecg.modules.group.partchange.bean.BuWorkPartChange">
        SELECT
        t1.*,
        t2.name AS materialTypeName,
        t3.name AS assetTypeName,
        t4.line_name AS lineName,
        t5.name AS systemName,
        t6.realname AS userName
        FROM bu_work_part_change t1
        LEFT JOIN bu_material_type t2 ON t2.id = t1.material_type_id
        LEFT JOIN bu_train_asset_type t3 ON t3.id = t1.asset_type_id
        LEFT JOIN bu_mtr_line t4 ON t4.line_id = t1.line_id
        LEFT JOIN bu_train_asset_type t5 ON t5.id = t1.system_id
        LEFT JOIN sys_user t6 ON t6.id = t1.user_id
        WHERE t1.id = #{id}
    </select>

</mapper>
