<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.basemanage.regu.mapper.BuRepairReguMaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.basemanage.regu.bean.BuRepairReguMaterial">
        <id column="id" property="id"/>
        <result column="regu_detail_id" property="reguDetailId"/>
        <result column="material_type_id" property="materialTypeId"/>
        <result column="amount" property="amount"/>
        <result column="use_category" property="useCategory"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, regu_detail_id, material_type_id, amount, use_category
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.reguDetailId, jdbcType=VARCHAR},
            #{item.materialTypeId, jdbcType=VARCHAR},
            #{item.amount, jdbcType=DOUBLE},
            #{item.useCategory, jdbcType=NUMERIC},
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO bu_repair_regu_material
        (
        <include refid="Base_Column_List"/>
        )
        <foreach collection="list" item="item" index="index" separator="union all">
            (
            select
            <include refid="insertValueItems"/>
            from dual
            )
        </foreach>
    </insert>

</mapper>
