<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.dispatch.serialplan.mapper.BuRepairTaskBookStepMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.dispatch.serialplan.bean.BuRepairTaskBookStep">
        <id column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="tech_book_id" property="techBookId"/>
        <result column="book_detail_id" property="bookDetailId"/>
        <result column="book_step_no" property="bookStepNo"/>
        <result column="boot_step_title" property="bootStepTitle"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_id, tech_book_id, book_detail_id, book_step_no, boot_step_title
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id, jdbcType=VARCHAR},
            #{item.taskId, jdbcType=VARCHAR},
            #{item.techBookId, jdbcType=VARCHAR},
            #{item.bookDetailId, jdbcType=VARCHAR},
            #{item.bookStepNo, jdbcType=VARCHAR},
            #{item.bootStepTitle, jdbcType=VARCHAR}
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        <if test="list != null and list.size > 0">
            INSERT INTO bu_repair_task_book_step
            (
            <include refid="Base_Column_List"/>
            )
            <foreach collection="list" item="item" index="index" separator="union all">
                (
                select
                <include refid="insertValueItems"/>
                from dual
                )
            </foreach>
        </if>
    </insert>

    <select id="selectListByPlanId" resultType="org.jeecg.modules.dispatch.serialplan.bean.BuRepairTaskBookStep">
        select t.*,
               t2.file_no,
               t2.file_name as bookName
        from bu_repair_task_book_step t
                 left join bu_repair_plan_task t1 on t1.id = t.task_id
                 left join bu_repair_tech_book t2 on t2.id = t.tech_book_id
        where t1.plan_id = #{planId}
        order by t2.file_no, t.book_step_no
    </select>

    <select id="selectListByTaskId" resultType="org.jeecg.modules.dispatch.serialplan.bean.BuRepairTaskBookStep">
        select t.*,
               t2.file_no,
               t2.file_name    as bookName,
               t3.step_content as bootStepContent
        from bu_repair_task_book_step t
                 left join bu_repair_plan_task t1 on t1.id = t.task_id
                 left join bu_repair_tech_book t2 on t2.id = t.tech_book_id
                 left join bu_repair_tech_book_detail t3 on t3.id = t.book_detail_id
        where t.task_id = #{taskId}
        order by t2.file_no, t.book_step_no
    </select>

</mapper>
