<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.produce.plan.mapper.BuRepairPlanTaskProduceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.produce.plan.bean.BuRepairPlanTask">
        <id column="id" property="id"/>
        <result column="plan_id" property="planId"/>
        <result column="parent_id" property="parentId"/>
        <result column="task_no" property="taskNo"/>
        <result column="task_name" property="taskName"/>
        <result column="task_wbs" property="taskWbs"/>
        <result column="important" property="important"/>
        <result column="outsource" property="outsource"/>
        <result column="method" property="method"/>
        <result column="system_id" property="systemId"/>
        <result column="asset_type_id" property="assetTypeId"/>
        <result column="work_time" property="workTime"/>
        <result column="progress" property="progress"/>
        <result column="duration" property="duration"/>
        <result column="start_time" property="startTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="act_start" property="actStart"/>
        <result column="act_finish" property="actFinish"/>
        <result column="predecessor" property="predecessor"/>
        <result column="day_index" property="dayIndex"/>
        <result column="work_group_id" property="workGroupId"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="gen_order" property="genOrder"/>
        <result column="has_gen" property="hasGen"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="suspend_status" property="suspendStatus"/>
        <result column="suspend_time" property="suspendTime"/>
        <result column="active_time" property="activeTime"/>
        <result column="safe_notice" property="safeNotice"/>
    </resultMap>

    <resultMap id="ResultMap_BuRepairPlanTask_Detail_WithRelation"
               type="org.jeecg.modules.produce.plan.bean.BuRepairPlanTask">
        <id column="id" property="id"/>
        <result column="plan_id" property="planId"/>
        <result column="parent_id" property="parentId"/>
        <result column="task_no" property="taskNo"/>
        <result column="task_name" property="taskName"/>
        <result column="task_wbs" property="taskWbs"/>
        <result column="important" property="important"/>
        <result column="outsource" property="outsource"/>
        <result column="method" property="method"/>
        <result column="system_id" property="systemId"/>
        <result column="asset_type_id" property="assetTypeId"/>
        <result column="work_time" property="workTime"/>
        <result column="progress" property="progress"/>
        <result column="duration" property="duration"/>
        <result column="start_time" property="startTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="act_start" property="actStart"/>
        <result column="act_finish" property="actFinish"/>
        <result column="predecessor" property="predecessor"/>
        <result column="day_index" property="dayIndex"/>
        <result column="work_group_id" property="workGroupId"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="gen_order" property="genOrder"/>
        <result column="has_gen" property="hasGen"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="suspend_status" property="suspendStatus"/>
        <result column="suspend_time" property="suspendTime"/>
        <result column="active_time" property="activeTime"/>
        <result column="safe_notice" property="safeNotice"/>
        <result column="systemName" property="systemName"/>
        <result column="assetTypeName" property="assetTypeName"/>
        <result column="workGroupName" property="workGroupName"/>
        <result column="trackId" property="trackId"/>
        <result column="trackName" property="trackName"/>
        <result column="hasChildren" property="hasChildren"/>
        <collection property="repairPlanReguInfo" column="id"
                    ofType="org.jeecg.modules.produce.plan.bean.BuRepairTaskRegu"
                    select="selectTaskRepairPlanReguInfo"/>
        <collection property="workstations" column="id"
                    ofType="org.jeecg.modules.produce.plan.bean.BuRepairTaskWorkstation"
                    select="selectTaskWorkstations"/>
        <collection property="materials" column="id"
                    ofType="org.jeecg.modules.produce.plan.bean.BuRepairTaskMaterial"
                    select="selectTaskMaterials"/>
        <collection property="tools" column="id"
                    ofType="org.jeecg.modules.produce.plan.bean.BuRepairTaskTool"
                    select="selectTaskTools"/>
        <collection property="persons" column="id"
                    ofType="org.jeecg.modules.produce.plan.bean.BuRepairTaskStaffRequire"
                    select="selectTaskPersons"/>
        <collection property="forms" column="id"
                    ofType="org.jeecg.modules.produce.plan.bean.BuRepairPlanForms"
                    select="selectTaskForms"/>
        <collection property="mustReplaces" column="id"
                    ofType="org.jeecg.modules.produce.plan.bean.BuRepairTaskMustReplace"
                    select="selectTaskMustReplaces"/>
        <collection property="taskPres" column="id"
                    ofType="org.jeecg.modules.produce.plan.bean.BuRepairPlanTaskPre"
                    select="selectTaskTaskPres"/>
    </resultMap>
    <select id="selectTaskRepairPlanReguInfo"
            resultType="org.jeecg.modules.produce.plan.bean.BuRepairTaskRegu">
        SELECT t.*,
               t1.no,
               t1.title,
               t1.type,
               t1.safe_notice,
               t1.outsource,
               t1.important,
               t1.method,
               t1.quality_level,
               t1.asset_type_id,
               t1.work_time,
               t1.requirement,
               t1.must_replace,
               t1.measure,
               t2.name AS assetTypeName
        FROM bu_repair_task_regu t
                 LEFT JOIN bu_repair_regu_detail t1 ON t1.id = t.regu_detail_id
                 LEFT JOIN bu_train_asset_type t2 ON t2.id = t1.asset_type_id
        WHERE task_id = #{id}
        order by t1.no
    </select>
    <select id="selectTaskWorkstations" resultType="org.jeecg.modules.produce.plan.bean.BuRepairTaskWorkstation">
        SELECT t.*,
               t1.workshop_id,
               t1.station_no,
               t1.name,
               t1.location,
               t1.content,
               t1.remark,
               t2.name AS workshopName
        FROM bu_repair_task_workstation t
                 LEFT JOIN bu_mtr_workstation t1 ON t1.id = t.workstation_id
                 LEFT JOIN bu_mtr_workshop t2 ON t2.id = t1.workshop_id
        WHERE t.task_id = #{id}
    </select>
    <select id="selectTaskMaterials" resultMap="ResultMap_BuRepairTaskMaterial">
        SELECT t.*,
               t1.code,
               t1.name,
               t1.spec,
               t1.unit,
               t1.price,
               t1.kind,
               t1.category1,
               t1.category2
        FROM bu_repair_task_material t
                 LEFT JOIN bu_material_type t1 ON t1.id = t.material_type_id
        WHERE t.task_id = #{id}
    </select>
    <select id="selectTaskTools" resultMap="ResultMap_BuRepairTaskTool">
        SELECT t.*,
               t1.code,
               t1.name,
               t1.spec,
               t1.unit,
               t1.price,
               t1.kind,
               t1.category1,
               t1.category2
        FROM bu_repair_task_tool t
                 LEFT JOIN bu_material_type t1 ON t1.id = t.tool_type_id
        WHERE t.task_id = #{id}
    </select>
    <select id="selectTaskPersons" resultType="org.jeecg.modules.produce.plan.bean.BuRepairTaskStaffRequire">
        SELECT t.*
        FROM bu_repair_task_staff_require t
        WHERE t.task_id = #{id}
    </select>
    <select id="selectTaskForms" resultType="org.jeecg.modules.produce.plan.bean.BuRepairPlanForms">
        SELECT t.*,
               (case t.form_type
                    when 1 then t1.code
                    when 2 then ''
                    when 3 then t3.code
                    when 4 then t4.code
                    else '' end)   as
                                      code,
               (case t.form_type
                    when 1 then t1.name
                    when 2 then t2.name
                    when 3 then t3.title
                    when 4 then t4.title
                    else '' end)
                                   as formName,
               (case t.form_type
                    when 1 then t1.type
                    when 2 then NULL
                    when 3 then NULL
                    when 4 then NULL
                    else NULL end) as type,
               t5.name             AS assetTypeName
        FROM bu_repair_plan_forms t
                 LEFT JOIN bu_base_form_template t1 ON t1.id = t.obj_id
                 LEFT JOIN bu_doc_file t2 ON t2.id = t.obj_id
                 LEFT JOIN bu_work_record t3 ON t3.id = t.obj_id
                 left join bu_work_check t4 on t4.id = t.obj_id
                 left join bu_train_asset_type t5 on t5.id = t.asset_type_id
        WHERE t.plan_id = (select plan_id from bu_repair_plan_task where id = #{id})
    </select>
    <select id="selectTaskMustReplaces" resultType="org.jeecg.modules.produce.plan.bean.BuRepairTaskMustReplace">
        SELECT t.*,
               t1.code,
               t1.name,
               t1.unit,
               t2.price,
               (t.amount * t2.price) as sumPrice,
               t1.place_id,
               t1.place_desc,
               t1.struct_type,
               t3.place_code
        FROM bu_repair_task_must_replace t
                 LEFT JOIN bu_train_asset_type t1 ON t1.id = t.asset_type_id
                 LEFT JOIN bu_material_type t2 ON t2.id = t1.material_id
                 LEFT JOIN bu_train_place t3 ON t3.id = t1.place_id
        WHERE t.task_id = #{id}
    </select>
    <select id="selectTaskTaskPres" resultType="org.jeecg.modules.produce.plan.bean.BuRepairPlanTaskPre">
        SELECT *
        FROM bu_repair_plan_task_pre
        WHERE task_id = #{id}
    </select>

    <resultMap id="ResultMap_BuRepairTaskTool" type="org.jeecg.modules.produce.plan.bean.BuRepairTaskTool">
        <id column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="tool_type_id" property="toolTypeId"/>
        <result column="amount" property="amount"/>
        <result column="remark" property="remark"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="spec" property="spec"/>
        <result column="unit" property="unit"/>
        <result column="price" property="price"/>
        <result column="kind" property="kind"/>
        <result column="category1" property="category1"/>
        <result column="category2" property="category2"/>
    </resultMap>

    <resultMap id="ResultMap_BuRepairTaskMaterial" type="org.jeecg.modules.produce.plan.bean.BuRepairTaskMaterial">
        <id column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="material_type_id" property="materialTypeId"/>
        <result column="amount" property="amount"/>
        <result column="remark" property="remark"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="spec" property="spec"/>
        <result column="unit" property="unit"/>
        <result column="price" property="price"/>
        <result column="kind" property="kind"/>
        <result column="category1" property="category1"/>
        <result column="category2" property="category2"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, plan_id, parent_id, task_no, task_name, task_wbs, important, outsource, method,
        system_id, asset_type_id, work_time, progress, duration, start_time, finish_time,
        act_start, act_finish, predecessor, day_index, work_group_id, status, remark, gen_order,
        has_gen, create_time, create_by, update_time, update_by, suspend_status, suspend_time,
        active_time, safe_notice
    </sql>

    <select id="selectListByPlanId" resultType="org.jeecg.modules.produce.plan.bean.BuRepairPlanTask">
        SELECT t.*,
               t1.name       AS systemName,
               t2.name       AS assetTypeName,
               t3.group_name AS workGroupName
        FROM bu_repair_plan_task t
                 LEFT JOIN bu_train_asset_type t1 ON t1.id = t.system_id
                 LEFT JOIN bu_train_asset_type t2 ON t2.id = t.asset_type_id
                 LEFT JOIN bu_mtr_workshop_group t3 ON t3.id = t.work_group_id
        WHERE t.plan_id = #{planId}
    </select>

    <select id="selectTaskAndDetailByTaskId" resultMap="ResultMap_BuRepairPlanTask_Detail_WithRelation">
        select t.*,
               decode((select count(1) from bu_repair_plan_task where parent_id = t.id), 0, 'false',
                      'true') as hasChildren,
               t1.track_id    AS trackId,
               t2.name        AS trackName,
               t3.name        AS systemName,
               t4.name        AS assetTypeName,
               t5.group_name  AS workGroupName
        from bu_repair_plan_task t
                 LEFT JOIN bu_repair_task_track t1 ON t1.task_id = t.id
                 LEFT JOIN bu_mtr_track t2 ON t2.id = t1.track_id
                 LEFT JOIN bu_train_asset_type t3 ON t3.id = t.system_id
                 LEFT JOIN bu_train_asset_type t4 ON t4.id = t.asset_type_id
                 LEFT JOIN bu_mtr_workshop_group t5 ON t5.id = t.work_group_id
        where t.id = #{planTaskId}
    </select>

</mapper>
