<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.basemanage.workshop.mapper.BuMtrDepotMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.basemanage.workshop.entity.BuMtrDepot">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="address" property="address"/>
        <result column="remark" property="remark"/>
        <result column="company_id" property="companyId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <collection property="lineIdList" column="id"
                    ofType="java.lang.String"
                    select="selectLineIdList"/>
    </resultMap>
    <select id="selectLineIdList" resultType="java.lang.String">
        SELECT line_id
        FROM bu_mtr_depot_line
        WHERE depot_id = #{id}
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, address, remark, company_id, create_time, create_by, update_time, update_by
    </sql>

    <select id="selectAllList" resultMap="BaseResultMap">
        SELECT t.*
        FROM bu_mtr_depot t
        ORDER BY t.code DESC
    </select>

</mapper>
