<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.basemanage.traininfo.mapper.BuTrainAssetTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAssetType">
        <id column="id" property="id"/>
        <result column="train_type_id" property="trainTypeId"/>
        <result column="code" property="code"/>
        <result column="wbs" property="wbs"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="struct_type" property="structType"/>
        <result column="init_num" property="initNum"/>
        <result column="asset_category_id" property="assetCategoryId"/>
        <result column="material_id" property="materialId"/>
        <result column="subjunctive" property="subjunctive"/>
        <result column="turnover" property="turnover"/>
        <result column="bom" property="bom"/>
        <result column="sort_num" property="sortNum"/>
        <result column="unit" property="unit"/>
        <result column="status" property="status"/>
        <result column="place_id" property="placeId"/>
        <result column="place_desc" property="placeDesc"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="short_name" property="shortName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, train_type_id, code, wbs, name, parent_id, struct_type, init_num, asset_category_id,
        material_id, subjunctive, turnover, bom, sort_num, unit, status, place_id, place_desc, remark,
        create_time, create_by, update_time, update_by, short_name
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id},
            #{item.trainTypeId},
            #{item.code},
            #{item.wbs},
            #{item.name},
            #{item.parentId},
            #{item.structType},
            #{item.initNum},
            #{item.assetCategoryId},
            #{item.materialId},
            #{item.subjunctive},
            #{item.turnover},
            #{item.bom},
            #{item.sortNum},
            #{item.unit},
            #{item.status},
            #{item.placeId},
            #{item.placeDesc},
            #{item.remark},
            #{item.createTime},
            #{item.createBy},
            #{item.updateTime},
            #{item.updateBy},
            #{item.shortName},
        </trim>
    </sql>


    <insert id="insertList" parameterType="java.util.List">
        <if test="list != null and list.size > 0">
            INSERT INTO bu_train_asset_type
            (
            <include refid="Base_Column_List"/>
            )
            VALUES
            <foreach collection="list" item="item" index="index" separator=",">
                (
                <include refid="insertValueItems"/>
                )
            </foreach>
        </if>
    </insert>

    <update id="updateListCodeAndWbs">
        <if test="list != null and list.size > 0">
            <foreach collection="list" item="item" index="index" separator=";">
                update bu_train_asset_type set code = #{item.code}, wbs = #{item.wbs}
                where id = #{item.id}
            </foreach>
        </if>
    </update>

    <select id="selectListByBuTrainAssetTypeQueryVO"
            resultType="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAssetType">
        <if test="queryVO.searchText == null or queryVO.searchText == ''">
            <!--  if(exists(select id from bu_train_asset_type where parent_id = t.id),'true','false')  -->
            select
            t.*,
            decode((select count(1) from bu_train_asset_type where parent_id = t.id), 0, 'false', 'true') as hasChildren,
            if((t.parent_id is null or t.parent_id = ''),t.name,t2.name) as parentName,
            t1.place_code
            from bu_train_asset_type t
            left join bu_train_place t1 on t1.id = t.place_id
            left join bu_train_asset_type t2 on t2.id = t.parent_id
            <where>
                <if test="queryVO.trainTypeId != null and queryVO.trainTypeId != ''">
                    and t.train_type_id = #{queryVO.trainTypeId}
                </if>
                <if test="queryVO.status != null">
                    and t.status = #{queryVO.status}
                </if>
                <if test="queryVO.structType != null">
                    and t.struct_type = #{queryVO.structType}
                </if>
                <choose>
                    <when test="queryVO.id != null and queryVO.id != ''">
                        and t.parent_id = #{queryVO.id}
                    </when>
                    <otherwise>
                        and (t.parent_id is null or t.parent_id = '')
                    </otherwise>
                </choose>
            </where>
            order by t.sort_num,t.wbs
        </if>
        <if test="queryVO.searchText != null and queryVO.searchText != ''">
            select
            t.*,
            decode((select count(1) from bu_train_asset_type where parent_id = t.id), 0, 'false', 'true') as hasChildren,
            if((t.parent_id is null or t.parent_id = ''),t.name,t2.name) as parentName,
            t1.place_code
            from bu_train_asset_type t
            left join bu_train_place t1 on t1.id = t.place_id
            left join bu_train_asset_type t2 on t2.id = t.parent_id
            <where>
                <if test="queryVO.trainTypeId != null and queryVO.trainTypeId != ''">
                    and t.train_type_id = #{queryVO.trainTypeId}
                </if>
                <if test="queryVO.status != null">
                    and t.status = #{queryVO.status}
                </if>
                <if test="queryVO.structType != null">
                    and t.struct_type = #{queryVO.structType}
                </if>
                <if test="queryVO.id != null and queryVO.id != ''">
                    and t.wbs like concat(
                    (select wbs from bu_train_asset_type where id=#{queryVO.id}),'%')
                    and t.id  <![CDATA[ != ]]> #{queryVO.id}
                </if>
                and (
                t.name like CONCAT('%',#{queryVO.searchText},'%')
                or
                t.code like CONCAT('%',#{queryVO.searchText},'%')
                )
            </where>
            order by t.sort_num,t.wbs
        </if>
    </select>

    <select id="selectAssetTypeById" resultType="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAssetType">
        select t.*
        from bu_train_asset_type t
        where t.id = #{id}
    </select>

    <select id="selectBrotherMaxCodeByParentIdAndTrainTypeId" resultType="java.lang.String">
        select max(code)
        from bu_train_asset_type
        where train_type_id = #{trainTypeId}
        <choose>
            <when test="parentId != null and parentId != ''">
                and parent_id = #{parentId}
            </when>
            <otherwise>
                and parent_id is null or parent_id = ''
            </otherwise>
        </choose>
    </select>

    <select id="selectWbsListByIdList" resultType="java.lang.String">
        SELECT
        t.wbs
        FROM bu_train_asset_type t
        where t.id
        <choose>
            <when test="assetTypeIdList != null and assetTypeIdList.size > 0">
                in
                <foreach collection="assetTypeIdList" item="assetTypeId" open="(" separator="," close=")">
                    #{assetTypeId}
                </foreach>
            </when>
            <otherwise>
                = '-1'
            </otherwise>
        </choose>
    </select>

    <select id="selectAssetTypeAndChildrenAsListByWbsList"
            resultType="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAssetType">
        SELECT
        t.*
        FROM bu_train_asset_type t
        where
        <choose>
            <when test="assetTypeWbsList != null and assetTypeWbsList.size > 0">
                <foreach collection="assetTypeWbsList" item="assetTypeWbs" separator=" or ">
                    t.wbs like concat(#{assetTypeWbs},'%')
                </foreach>
            </when>
            <otherwise>
                t.wbs = '-1'
            </otherwise>
        </choose>
    </select>

    <delete id="deleteAssetTypeAndChildrenByWbsList">
        DELETE
        FROM bu_train_asset_type
        WHERE
        <choose>
            <when test="assetTypeWbsList != null and assetTypeWbsList.size > 0">
                <foreach collection="assetTypeWbsList" item="assetTypeWbs" separator=" or ">
                    wbs LIKE CONCAT(#{assetTypeWbs},'%')
                </foreach>
            </when>
            <otherwise>
                wbs = '-1'
            </otherwise>
        </choose>
    </delete>

    <select id="selectTopSystemListByTrainNo"
            resultType="org.jeecg.modules.basemanage.traininfo.entity.BuTrainAssetType">
        select t.*
        from bu_train_asset_type t
        where t.train_type_id = (select train_type_id from bu_train_info where train_no = #{trainNo})
        <if test="parentId==null or parentId==''">
            and t.struct_type = 1
            and (t.parent_id is null or t.parent_id = '')
        </if>
        <if test="parentId!=null and parentId!=''">
            and t.parent_id = #{parentId}
        </if>
    </select>

    <select id="selectAllSimpleInfoListForCache"
            resultType="org.jeecg.common.tiros.cache.assettype.BuTrainAssetTypeBO">
        select id, name, short_name, struct_type, parent_id, train_type_id
        from bu_train_asset_type
    </select>

</mapper>
