<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.material.tools.mapper.BuMaterialToolsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.material.tools.bean.BuMaterialTools">
        <id column="id" property="id"/>
        <result column="tool_type" property="toolType"/>
        <result column="material_type_id" property="materialTypeId"/>
        <result column="code" property="code"/>
        <result column="asset_code" property="assetCode"/>
        <result column="serial_no" property="serialNo"/>
        <result column="name" property="name"/>
        <result column="model" property="model"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="entrace_date" property="entraceDate"/>
        <result column="lifetime" property="lifetime"/>
        <result column="leave_factory" property="leaveFactory"/>
        <result column="expir_date" property="expirDate"/>
        <result column="entry_date" property="entryDate"/>
        <result column="line_id" property="lineId"/>
        <result column="workshop_id" property="workshopId"/>
        <result column="group_id" property="groupId"/>
        <result column="user_id" property="userId"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="status" property="status"/>
        <result column="service_interval" property="serviceInterval"/>
        <result column="last_check_time" property="lastCheckTime"/>
        <result column="next_check_time" property="nextCheckTime"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="is_self_check" property="isSelfCheck"/>
        <result column="last_self_check_time" property="lastSelfCheckTime"/>
        <result column="price" property="price"/>
        <result column="sync" property="sync"/>
        <result column="is_electric" property="isElectric"/>
        <result column="is_fixed_asset" property="isFixedAsset"/>
        <result column="storage_location" property="storageLocation"/>
        <result column="company_id" property="companyId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tool_type, material_type_id, code, asset_code, serial_no, name, model, supplier_id,
        entrace_date, lifetime, leave_factory, expir_date, entry_date, line_id, workshop_id, group_id,
        user_id, warehouse_id, status, service_interval, last_check_time, next_check_time, remark,
        create_time, create_by, update_time, update_by, is_self_check, last_self_check_time, price, sync,
        is_electric, is_fixed_asset, storage_location, company_id
    </sql>

    <!-- 插入value sql -->
    <sql id="insertValueItems">
        <trim suffixOverrides=",">
            #{item.id},
            #{item.toolType},
            #{item.materialTypeId},
            #{item.code},
            #{item.assetCode},
            #{item.serialNo},
            #{item.name},
            #{item.model},
            #{item.supplierId},
            #{item.entraceDate},
            #{item.lifetime},
            #{item.leaveFactory},
            #{item.expirDate},
            #{item.entryDate},
            #{item.lineId},
            #{item.workshopId},
            #{item.groupId},
            #{item.userId},
            #{item.warehouseId},
            #{item.status},
            #{item.serviceInterval},
            #{item.lastCheckTime},
            #{item.nextCheckTime},
            #{item.remark},
            #{item.createTime},
            #{item.createBy},
            #{item.updateTime},
            #{item.updateBy},
            #{item.isSelfCheck},
            #{item.lastSelfCheckTime},
            #{item.price},
            #{item.sync},
            #{item.isElectric},
            #{item.isFixedAsset},
            #{item.storageLocation},
            #{item.companyId},
        </trim>
    </sql>


    <insert id="insertBatch" parameterType="list">
        INSERT INTO bu_material_tools
        (
        <include refid="Base_Column_List"/>
        )
        value
        <foreach collection="list" item="item" separator=",">
            (
            <include refid="insertValueItems"/>
            )
        </foreach>
    </insert>

    <select id="selectPageByCondition" resultType="org.jeecg.modules.material.tools.bean.BuMaterialTools">
        select * from (
        SELECT
        t1.*,
        t2.name AS warehouseName,
        if(t1.GROUP_ID='CJ','架大修车间', t3.group_name)as groupName,
        1 as amount,
        t4.name as supplierName,
        t5.spec,
        t5.unit,
        t5.kind,
        t5.category1,
        t5.category2,
        t6.realname as userName,
        if(t1.expir_date is not null,if(DATEDIFF(now(),t1.expir_date)>0,1,0),0) as overdue
        FROM bu_material_tools t1
        LEFT JOIN bu_mtr_warehouse t2 ON t2.id = t1.warehouse_id
        LEFT JOIN bu_mtr_workshop_group t3 ON t3.id = t1.group_id
        LEFT JOIN bu_base_supplier t4 ON t4.id = t1.supplier_id
        LEFT JOIN bu_material_type t5 ON t5.id = t1.material_type_id
        LEFT JOIN sys_user t6 on t6.id = t1.user_id
        <where>
            <if test="queryVO.searchText != null and queryVO.searchText != ''">
                AND
                (
                t1.name LIKE concat('%',#{queryVO.searchText},'%')
                OR
                t1.code LIKE concat('%',#{queryVO.searchText},'%')
                OR
                t1.asset_code LIKE concat('%',#{queryVO.searchText},'%')
                )
            </if>
            <if test="queryVO.toolType != null">
                AND t1.tool_type = #{queryVO.toolType}
            </if>
            <if test="queryVO.status != null">
                AND t1.status = #{queryVO.status}
            </if>
            <if test="queryVO.groupId != null and queryVO.groupId != ''">
                AND t1.group_id = #{queryVO.groupId}
            </if>
            <if test="queryVO.materialTypeId != null and queryVO.materialTypeId != ''">
                AND t1.material_type_id = #{queryVO.materialTypeId}
            </if>
        </where>
        )
        ORDER BY overdue DESC, next_check_time, asset_code
    </select>

    <select id="selectToolById" resultType="org.jeecg.modules.material.tools.bean.BuMaterialTools">
        SELECT t1.*,
               t2.name       AS warehouseName,
               t3.group_name AS groupName,
               1             as amount,
               t4.name       as supplierName,
               t5.spec,
               t5.unit,
               t5.price,
               t5.kind,
               t5.category1,
               t5.category2
        FROM bu_material_tools t1
                 LEFT JOIN bu_mtr_warehouse t2 ON t2.id = t1.warehouse_id
                 LEFT JOIN bu_mtr_workshop_group t3 ON t3.id = t1.group_id
                 LEFT JOIN bu_base_supplier t4 ON t4.id = t1.supplier_id
                 LEFT JOIN bu_material_type t5 ON t5.id = t1.material_type_id
        where t1.id = #{id}
    </select>

    <select id="selectToolListByTypeIdAndGroupId" resultType="org.jeecg.modules.material.tools.bean.BuMaterialTools">
        SELECT *
        FROM bu_material_tools
        WHERE material_type_id = #{toolTypeId}
          AND group_id = #{workGroupId}
          AND status != 3
        ORDER BY status, next_check_time DESC
    </select>

    <select id="selectToolUserGroupList" resultType="java.util.Map">
        select t.id            as toolId,
               t1.id           as userId,
               t1.work_no      as workNo,
               t3.id           as departId,
               t3.org_category as departOrgCategory
        from bu_material_tools t
                 left join sys_user t1 on t1.work_no = t.user_id
                 left join sys_user_depart t2 on t2.user_id = t1.id
                 left join sys_depart t3 on t3.id = t2.dep_id
        where t1.id is not null
    </select>

    <update id="updateListForGroup">
        <if test="list != null and list.size > 0">
            <foreach collection="list" item="item" index="index" separator=";">
                update bu_material_tools set group_id = #{item.groupId} where id = #{item.id}
            </foreach>
        </if>
    </update>

    <update id="updateListForWorkshop">
        <if test="list != null and list.size > 0">
            <foreach collection="list" item="item" index="index" separator=";">
                update bu_material_tools set workshop_id = #{item.workshopId} where id = #{item.id}
            </foreach>
        </if>
    </update>

    <select id="selectUseableToolListByTypeIdList" resultType="org.jeecg.modules.material.tools.bean.BuMaterialTools">
        SELECT *
        FROM bu_material_tools
        WHERE status != 3
        <choose>
            <when test="toolTypeIdList != null and toolTypeIdList.size > 0">
                AND material_type_id in
                <foreach collection="toolTypeIdList" item="toolTypeId"
                         index="index" separator="," open="(" close=")">
                    #{toolTypeId}
                </foreach>
            </when>
            <otherwise>
                AND material_type_id = '-1'
            </otherwise>
        </choose>
        ORDER BY status, next_check_time DESC
    </select>

    <select id="selectListByAssetCode" resultMap="BaseResultMap">
        select id ,asset_code from bu_material_tools
        <where>
            <if test="list != null and list.size > 0">
                asset_code in
                <foreach collection="list" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
    </select>

</mapper>
